<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <div itemprop="articleBody" class="com-content-article__body">
            <h1><b>VĂN HOÁ TAZA GROUP</b></h1>
    <p>Kỷ luật - Tận Tâm - Nhanh(tốc độ) - Yêu thương&nbsp; - Biết ơn (bắt đầu bằng sự quan tâm, kết thúc bằng lòng biết ơn)</p>
    <p><b>“Đặt kỷ luật lên hàng đầu</b></p>
    <p><b>Dùng Tận tâm làm tác phong</b></p>
    <p><b>Lấy tốc độ để dẫn đầu</b></p>
    <p><b>Chọn yêu thương là gốc rễ</b></p>
    <p><b>Sống biết ơn để hạnh phúc</b>”</p>
    <p>CEO. TRẦN THỊ TỐ UYÊN</p>
    <p><strong>1. Đặt kỷ luật lên hàng đầu:</strong></p>
    <ul>
    <li aria-level="1">Chịu trách nhiệm 100%</li>
    <li aria-level="1">Làm việc theo quy trình</li>
    <li aria-level="1">Luôn đảm bảo hiệu quả - chất lượng.</li>
    </ul>
    <p><strong>2. Dùng Tận tâm làm tác phong:</strong></p>
    <ul>
    <li aria-level="1">Giao tiếp bắt buộc phải dựa trên văn hoá 3c của công ty đó là : cười - chào - cảm ơn.</li>
    <li aria-level="1">Luôn lắng nghe - tôn trọng và đưa ra các giải pháp.</li>
    <li aria-level="1">Tư duy phải luôn tích cực, vui vẻ trước sau như 1 khi đón tiếp khách hàng.</li>
    </ul>
    <p><strong>3. Lấy tốc độ để dẫn đầu:</strong></p>
    <ul>
    <li aria-level="1">Bsc: làm việc phải dựa vào bsc , có kế hoạch rõ ràng, bài bản.</li>
    <li aria-level="1">deadline:Người giao công việc phải luôn bám sát để đôn thúc , nhắc nhở, đánh giá và nghiệm thu. Còn người được giao phải luôn bám sát, hoàn thành công việc đúng hạn, đúng giờ 1 cách tốt nhất..</li>
    <li aria-level="1">Action plan: Note rõ các đầu công việc để hoàn thành 1 cách chỉnh chu và bài bản, luôn bám sát và có các biện pháp dự phòng khi cần thiết.</li>
    </ul>
    <p>Ưu tiên các công việc quan trọng, và cấp bách để giải quyết trước.</p>
    <p><strong>4. Chọn yêu thương là gốc rễ:</strong></p>
    <ul>
    <li aria-level="1">Suy nghĩ và hành động vì lợi ích tập thể.</li>
    <li aria-level="1">Trợ giúp và sẵn sàng chia sẻ.</li>
    </ul>
    <p><strong>5. Sống biết ơn để hạnh phúc:</strong></p>
    <ul>
    <li aria-level="1">Biết ơn công ty - khách hàng - đồng nghiệp.</li>
    <li aria-level="1">Phản ánh các trường hợp vi phạm đạo đức nghề nghiệp, nói xấu khách hàng và đồng nghiệp, công ty.</li>
    <li aria-level="1">Thái độ biết ơn với những complain để hoàn thiện hơn.</li>
    </ul>
    <h1><b>VÀI NÉT SƠ LƯỢC VỀ TAZA GROUP</b></h1>
    <p><b>TAZA GROUP&nbsp;</b>với tiền thân ban đầu là Viện thẩm mỹ Taza Spa được thành lập vào tháng 8<b>/&nbsp;</b>2015 tại địa chỉ 45 Phan Huy Ích, Phường 12 , Quận Gò Vấp, Tp. Hồ Chí Minh. Ban đầu Taza Spa hoạt động theo hình thức kinh doanh hộ cá thể với chức năng chính là điều trị da mặt và body bằng công nghệ máy móc hiện đại. Chỉ trong vòng 1 tháng đầu tiên, Taza Spa đã tiếp nhận điều trị cho hơn 500 khách hàng.</p>
    <p>Bằng chính mong muốn tạo dựng chỗ đứng cho thương hiệu cũng như hướng đến việc đem đến những giá trị tốt nhất cho khách hàng cả về chất lượng dịch vụ lẫn cảm giác khi trải nghiệm,&nbsp;<b>TAZA GROUP</b>&nbsp;nhanh chóng xác lập mục tiêu&nbsp;tiên mở rộng quy mô chăm sóc sắc đẹp trong cả nước, đổi mới trên nhiều phương diện và cải tiến vượt trội hiệu quả điều trị.</p>
    <p>Xuất phát từ lý do đó, vào năm 2017,&nbsp;<b>TAZA GROUP</b>&nbsp;quyết định thành lập phòng khám da liễu – Chính thức “nâng cấp” diện mạo hoàn toàn mới đáp ứng tốt nhất nhu cầu chăm sóc bản thân từ làn da, vóc dáng đến những góc khuất thầm kín nhất của phái đẹp. Đây là “bước đệm” quan trọng, tạo nền tảng vững chắc cho một hệ thống Viện thẩm mỹ Taza Skin Clinic lớn mạnh sau này.</p>
    <p>Suốt hơn 7 năm phát triển, Taza Skin Clinic đang dần khẳng định vị thế là một trong những thương hiệu thẩm mỹ hàng đầu tại Việt Nam, với 5 chi nhánh tọa lạc trên những cung đường đắc địa tại các thành phố lớn như: Tp. Hồ Chí Minh, Nha Trang, Đà Nẵng. Nhờ đó, khách hàng có cơ hội trải nghiệm các công nghệ làm đẹp thời thượng mà không cần lặn lội đi xa:</p>
    <ul>
    <li aria-level="1"><b>Chi nhánh Tp. Hồ Chí Minh:</b></li>
    </ul>
    <p>⬥ Số 1012 - 1014 Quang Trung, Phường 8, Quận Gò Vấp, Tp. Hồ Chí Minh</p>
    <p>⬥ Số 1090A Phạm Văn Đồng, Phường Linh Đông, Quận Thủ Đức, Tp. Hồ Chí Minh</p>
    <p>⬥ Số 408 Cao Thắng, Phường 12, Quận 10, Tp. Hồ Chí Minh</p>
    <ul>
    <li aria-level="1"><b>Chi nhánh Đà Nẵng:&nbsp;</b></li>
    </ul>
    <p>⬥ Số 69 Hàm Nghi, Phường Thạc Gián, Quận Thanh Khê, Tp. Đà Nẵng</p>
    <ul>
    <li aria-level="1"><b>Chi nhánh Nha Trang:</b></li>
    </ul>
    <p>⬥ STH41.47 Đường số 4, KĐT Lê Hồng Phong 2, Phường Phước Hải, Tp. Nha Trang</p>
    <p>Hiện tại, Taza Skin Clinic vẫn luôn không ngừng hoàn thiện về mọi mặt, nâng cấp cơ sở hạ tầng, đồng bộ hệ thống chuẩn phòng khám 5 sao với mong muốn là địa điểm làm đẹp xứng đáng để chị em lựa chọn và gửi gắm niềm tin thay đổi nhan sắc hoàn hảo. Hằng năm Taza Skin Clinic chăm sóc và điều trị thành công cho hơn 25.000 khách hàng với tỉ lệ hài lòng lên đến 98%. Bằng những nỗ lực không ngừng nghỉ, Taza Skin Clinic tự hào luôn giữ vững vị thế tiên phong, tạo nên những mốc son đột phá, ghi dấu ấn mạnh mẽ với ngành làm đẹp nước nhà, từ giai đoạn còn nhỏ lẻ đến thời kỳ rực rỡ hiện nay.</p>
    <p><b>VÀI NÉT SƠ LƯỢC VỀ TAZA GROUP</b></p>
    <p><b>TAZA GROUP </b><span style="font-weight: 400;">với tiền thân ban đầu là Viện thẩm mỹ Taza Spa được thành lập vào tháng 8</span><b>/ </b><span style="font-weight: 400;">2015 tại địa chỉ 45 Phan Huy Ích, Phường 12 , Quận Gò Vấp, Tp. Hồ Chí Minh. Ban đầu Taza Spa hoạt động theo hình thức kinh doanh hộ cá thể với chức năng chính là điều trị da mặt và body bằng công nghệ máy móc hiện đại. Chỉ trong vòng 1 tháng đầu tiên, Taza Spa đã tiếp nhận điều trị cho hơn 500 khách hàng.</span></p>
    <p><span style="font-weight: 400;">Bằng chính mong muốn tạo dựng chỗ đứng cho thương hiệu cũng như hướng đến việc đem đến những giá trị tốt nhất cho khách hàng cả về chất lượng dịch vụ lẫn cảm giác khi trải nghiệm, </span><b>TAZA GROUP</b><span style="font-weight: 400;"> nhanh chóng xác lập mục tiêu </span><span style="font-weight: 400;">tiên mở rộng quy mô chăm sóc sắc đẹp trong cả nước, đổi mới trên nhiều phương diện và cải tiến vượt trội hiệu quả điều trị</span><span style="font-weight: 400;">.</span></p>
    <p><span style="font-weight: 400;">Xuất phát từ lý do đó, vào năm 2017, </span><b>TAZA GROUP</b><span style="font-weight: 400;"> quyết định thành lập phòng khám da liễu – Chính thức “nâng cấp” diện mạo hoàn toàn mới đáp ứng tốt nhất nhu cầu chăm sóc bản thân từ làn da, vóc dáng đến những góc khuất thầm kín nhất của phái đẹp. Đây là “bước đệm” quan trọng, tạo nền tảng vững chắc cho một hệ thống Viện thẩm mỹ Taza Skin Clinic lớn mạnh sau này.</span></p>
    <p><span style="font-weight: 400;">Suốt hơn 7 năm phát triển, Taza Skin Clinic đang dần khẳng định vị thế là một trong những thương hiệu thẩm mỹ hàng đầu tại Việt Nam, với 5 chi nhánh tọa lạc trên những cung đường đắc địa tại các thành phố lớn như: Tp. Hồ Chí Minh, Nha Trang, Đà Nẵng. Nhờ đó, khách hàng có cơ hội trải nghiệm các công nghệ làm đẹp thời thượng mà không cần lặn lội đi xa:</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><b>Chi nhánh Tp. Hồ Chí Minh:</b></li>
    </ul>
    <p><span style="font-weight: 400;">⬥ Số 1012 - 1014 Quang Trung, Phường 8, Quận Gò Vấp, Tp. Hồ Chí Minh</span></p>
    <p><span style="font-weight: 400;">⬥ Số 1090A Phạm Văn Đồng, Phường Linh Đông, Quận Thủ Đức, Tp. Hồ Chí Minh</span></p>
    <p><span style="font-weight: 400;">⬥ Số 408 Cao Thắng, Phường 12, Quận 10, Tp. Hồ Chí Minh</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><b>Chi nhánh Đà Nẵng:&nbsp;</b></li>
    </ul>
    <p><span style="font-weight: 400;">⬥ Số 69 Hàm Nghi, Phường Thạc Gián, Quận Thanh Khê, Tp. Đà Nẵng</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><b>Chi nhánh Nha Trang:</b></li>
    </ul>
    <p><span style="font-weight: 400;">⬥ STH41.47 Đường số 4, KĐT Lê Hồng Phong 2, Phường Phước Hải, Tp. Nha Trang</span></p>
    <p><span style="font-weight: 400;">Hiện tại, Taza Skin Clinic vẫn luôn không ngừng hoàn thiện về mọi mặt, nâng cấp cơ sở hạ tầng, đồng bộ hệ thống chuẩn phòng khám 5 sao với mong muốn là địa điểm làm đẹp xứng đáng để chị em lựa chọn và gửi gắm niềm tin thay đổi nhan sắc hoàn hảo. Hằng năm Taza Skin Clinic chăm sóc và điều trị thành công cho hơn 25.000 khách hàng với tỉ lệ hài lòng lên đến 98%. Bằng những nỗ lực không ngừng nghỉ, Taza Skin Clinic tự hào luôn giữ vững vị thế tiên phong, tạo nên những mốc son đột phá, ghi dấu ấn mạnh mẽ với ngành làm đẹp nước nhà, từ giai đoạn còn nhỏ lẻ đến thời kỳ rực rỡ hiện nay.</span></p>
    <ul>
    <li aria-level="1"><b>TẦM NHÌN</b></li>
    </ul>
    <p><span style="font-weight: 400;">Năm 2030 tất cả các dịch vụ và sản phẩm được ứng dụng công nghệ tế bào gốc vào làm đẹp và chữa bệnh</span></p>
    <ul>
    <li aria-level="1"><b>SỨ MỆNH</b></li>
    </ul>
    <p><span style="font-weight: 400;">Giúp 2.000.000 người lấy lại sự tự tin khi bởi vẻ đẹp bên ngoài được phục hồi</span></p>
    <ul>
    <li aria-level="1"><b>GIÁ TRỊ CỐT LÕI</b></li>
    </ul>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Khách hàng: Tận tình, giúp đỡ trọn vẹn</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Đồng nghiệp: Hỗ trợ, yêu thương, góp ý</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Đối với thương hiệu: Tự hào, tin tưởng, bảo vệ</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Sản phẩm dịch vụ: Hiểu rõ, hiệu quả</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Đối với bản thân: Học hỏi, trung thực, sáng tạo</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Cộng đồng: Chia sẻ giúp đỡ trường hợp kém may mắn</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li aria-level="1"><b>BỘ PHẬN LÃNH ĐẠO</b></li>
    </ul>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Tổng Giám Đốc : Trần Thị Tố Uyên</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Phó TGĐ chuyên môn: Nguyễn Thị Kiều Oanh</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Phó TGĐ nội chính: Nguyễn Trung Thành</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Giám đốc CGO: Trần Thị Mỹ Duyên.</span></li>
    </ul>	</div>
    </div>

</div>
