<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">
                <a
                    mat-button
                    [routerLink]="['../']"
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    <span class="ml-2">Quay Lại</span>
                </a>
            </div>
            <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
                Gửi Câu Hỏi Cần Hỗ Trợ
            </div>
            <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                <form
                    class="space-y-5"
                    [formGroup]="supportForm"
                    #supportNgForm="ngForm" *ngIf="status">
                    <div class="mb-6">
                        <div class="text-2xl font-bold tracking-tight">Thông Tin</div>
                    </div>
                    <mat-form-field class="w-full">
                        <mat-label>Danh Mục</mat-label>
                        <mat-select [formControlName]="'Danhmuc'" #Danhmuc>
                            <mat-option [value]="item.id"  *ngFor="let item of Danhmucs">{{item.Tieude}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-textarea w-full">
                        <textarea
                            matInput
                            [formControlName]="'NoidungCauhoi'"
                            [required]="true"
                            [rows]="5"
                            matTextareaAutosize></textarea>
                        <mat-label>Nội Dung Câu Hỏi</mat-label>
                        <mat-error class="py-2" *ngIf="supportForm.get('NoidungCauhoi').hasError('required')">
                            Vui Lòng Nhập Nội Dung
                        </mat-error>
                    </mat-form-field>
                    <div class="flex items-center justify-end">
                        <button
                            mat-button
                            [color]="'accent'"
                            [disabled]="supportForm.pristine || supportForm.untouched"
                            (click)="clearForm()">
                            Reset
                        </button>
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="supportForm.pristine || supportForm.invalid"
                            (click)="CreateHotro()">
                            Gửi
                        </button>
                    </div>
                </form>
                <div class="text-center" *ngIf="!status">
                   <div class="text-2xl sm:text-3xl font-extrabold tracking-tight leading-tight">
                       Cảm ơn bạn đã gửi câu hỏi về công ty. <br>
                       Câu hỏi của bạn sẽ được giải đáp sớm nhất.<br> Chân thành cảm ơn.</div> 
                    <button mat-raised-button [color]="'primary'" (click)="clearForm()">Gửi Thêm Câu Hỏi</button>
                </div>
            </div>
        </div>
    </div>
</div>
