

<div class="flex flex-col w-full">
    <p class="text-center text-xl my-3">Bảng Yêu Cầu Đào Tạo</p>
    <div class="flex w-full">
        <mat-drawer-container class="example-container w-full" autosize>
            <mat-drawer
                #drawer
                opened
                class="example-sidenav lg:w-1/4 w-full"
                mode="side"
            >
                <button
                    type="button"
                    (click)="drawer.toggle()"
                    class="p-5 md:hidden"
                >
                    <span class="material-icons"> close </span>
                </button>
                <div class="p-5 ">
                    <div class="bg-gray-200 w-full rounded-xl">
                        <div class="text-gray-500 text-xl text-center  py-2 ">Danh Sách Yêu Cầu Đào Tạo</div>

                    </div>
                    <div
                        class="py-2"
                        *ngFor="let item of yeucau"
                        (click)="onChange(item)"
                    >
                        {{ item.name }}
                    </div>
                </div>
            </mat-drawer>

            <div
                class="example-sidenav-content w-full flex h-full overflow-hidden"
            >
                <div class="w-full p-5 bg-card shadow">
                    <button
                        type="button"
                        (click)="drawer.toggle()"
                        class="px-0 pb-5"
                    >
                        <span class="material-icons"> menu </span>
                    </button>
                    <form [formGroup]="yeucaudaotaoList">
                        <div class="h-full">
                            <div class="flex justify-between flex-col lg:flex-row">
                                <div class="lg:w-2/6 w-full flex mb-3">
                                    <span
                                        class="rounded-l-xl border border-gray-300 flex items-center justify-center text-center w-48 py-3 h-12"
                                        >Người yêu cầu</span
                                    >
                                    <input
                                        type="text"
                                        class="w-full pl-3 py-3 rounded-r-xl border border-gray-300 h-12"
                                        [formControlName]="'idNguoiyeucau'"
                                        readonly
                                    />
                                </div>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mx-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Người duyệt</span>
            
                                    <mat-select [formControlName]="'idNguoiduyet'">
                                        <mat-option>abc </mat-option>
                                    </mat-select>
                                </mat-form-field>
            
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-2/6 w-full lg:pl-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Chi phí dự kiến</span>
                                    <input
                                        matInput
                                        type="number"
                                        class="w-full h-full text-red-500"
                                        [formControlName]="'chiphi'"
                                    />
                                    <span matSuffix>0đ</span>
                                </mat-form-field>
                            </div>
            
                            <div class="flex justify-between flex-col lg:flex-row">
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:pr-3 w-full"
                                    appearance="fill"
                                >
                                    <span matPrefix>Bộ phận được đào tạo</span>
            
                                    <mat-select [formControlName]="'idBophandaotao'">
                                        <mat-option value="Vui lòng chọn"
                                            >Online
                                        </mat-option>
                                        <mat-option value="Vui lòng chọn"
                                            >Offline
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:pl-3 w-full"
                                    appearance="fill"
                                >
                                    <span matPrefix>Học viên </span>
            
                                    <mat-select [formControlName]="'idHocvien'">
                                        <mat-option value="Vui lòng chọn"
                                            >Online
                                        </mat-option>
                                        <mat-option value="Vui lòng chọn"
                                            >Offline
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col lg:flex-row">
                                <div class="lg:w-1/2 w-full lg:pr-3">
                                    <p>Yêu cầu đầu ra</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Ghi Chú</p>"
                                        [formControlName]="'yeucaudaura'"
                                    ></ckeditor>
                                </div>
                                <div class="lg:w-1/2 w-full lg:pl-3">
                                    <p>Duyệt nội dung đào tạo</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Ghi Chú</p>"
                                        [formControlName]="'duyetnoidung'"
                                    ></ckeditor>
                                </div>
                            </div>
                            <div class="flex justify-between flex-col lg:flex-row pt-5">
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:pr-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Hình Thức</span>
            
                                    <mat-select [formControlName]="'hinhthuc'">
                                        <mat-option value="Vui lòng chọn"
                                            >Kiểm tra theo bài học
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
            
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:pl-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Giảng Viên Đề Xuất</span>
                                    <mat-select [formControlName]="'idGiangvien'">
                                        <mat-option>abc </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col lg:flex-row">
                                <div class="lg:w-1/2 w-full lg:pr-3">
                                    <p>Đánh giá</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Ghi Chú</p>"
                                        [formControlName]="'danhgia'"
                                    ></ckeditor>
                                </div>
                                <div class="lg:w-1/2 w-full lg:pl-3">
                                    <p>Ghi chú</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Ghi Chú</p>"
                                        [formControlName]="'ghichu'"
                                    ></ckeditor>
                                </div>
                            </div>
                            <div class="flex pt-5">
                                <div class="flex">
                                    <span
                                        class="rounded-l-xl border border-gray-300 flex items-center justify-center text-center w-72 py-3 h-12"
                                        >Thời Gian Bắt Đầu Đào Tạo Dự kiến</span
                                    >
                                    <span
                                        class="border border-gray-300 flex items-center justify-center text-center w-16 py-3 h-12"
                                        >Từ</span
                                    >
                                    <input
                                        type="datetime-local"
                                        class="pl-3 py-3 border border-gray-300 h-12 text-red-500"
                                        [formControlName]="'dateFrom'"
                                        placeholder="Chọn thời gian"
                                    />
                                    <span
                                        class="border border-gray-300 flex items-center justify-center text-center w-16 py-3 h-12"
                                        >Đến</span
                                    >
                                    <input
                                        type="datetime-local"
                                        class="pl-3 py-3 rounded-r-xl border border-gray-300 h-12 text-red-500"
                                        [formControlName]="'dateTo'"
                                        placeholder="Chọn thời gian"
                                    />
                                </div>
                                <div class="pl-5">
                                    <input
                                        type="number"
                                        class="rounded-xl border border-gray-300 flex items-center justify-center text-center w-full py-3 h-12"
                                        placeholder="Tổng thời gian đào tạo dự kiến"
                                        [formControlName]="'totalTime'"
                                        readonly
                                    />
                                </div>
                            </div>
            
                            <div
                                class="form-group py-5 flex lg:justify-start justify-between"
                            >
                                <button
                                    type="submit"
                                    class="btn text-white bg-indigo-900 p-3 rounded-lg"
                                    (click)="onSubmit()"
                                >
                                    Submit
                                </button>
                                <button
                                    type="update"
                                    class="px-3 py-1 bg-indigo-600 rounded-lg mx-10 text-white"
                                    (click)="updateYeucaudaotao()"
                                >
                                    Update
                                </button>
                                <button
                                    type="delete"
                                    class="btn text-white bg-red-500 p-3 rounded-lg mx-5"
                                >
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</div>