<div class="scroll flex-auto p-3 h-70vh overflow-y-hidden" cdkScrollable>
    <div class="flex h-full" cdkDropList [cdkDropListData]="Boards" [cdkDropListOrientation]="'horizontal'"
        (cdkDropListDropped)="listDropped($event)">
        <div class="flex items-start" cdkDropListGroup>
            <ng-container *ngFor="let list of Boards; trackBy: trackByFn; let i = index">
                <div class="flex flex-col flex-0 w-96 p-2 rounded-2xl h-full bg-card" cdkDrag [cdkDragLockAxis]="'x'">
                    <div class="flex items-center justify-between" cdkDragHandle>
                        <div
                            class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
                            <input class="w-full font-medium leading-5 bg-transparent" [spellcheck]="'false'"
                                [value]="list.Tieude"
                                (keydown.enter)="updateListTitle($event, list);listTitleInput.blur()" #listTitleInput>
                        </div>
                        <div
                            class="flex items-center justify-center min-w-6 ml-4 text-lg font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                            {{list.tasks.length}}
                        </div>
                        <div class="ml-1">
                            <button class="w-8 h-8 min-h-8" mat-icon-button [matMenuTriggerFor]="listMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>

                            <mat-menu #listMenu="matMenu">
                                <button mat-menu-item (click)="deleteGroup(list)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    Xóa Nhóm
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="scroll mt-2 overflow-auto rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                        <div [id]="list.id" class="px-3 py-5" cdkDropList [cdkDropListData]="list.tasks"
                            (cdkDropListDropped)="cardDropped($event,list.tasks)">
                            <ng-container *ngFor="let card of list.tasks; trackBy: trackByFn">
                                <a class="group border-t-4 flex flex-col items-start mb-3 p-2 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                [ngClass]="{'border-blue-500': card.Trangthai==0,'border-yellow-500': card.Trangthai==1,'border-green-500': card.Trangthai==2}"
                                cdkDrag>
                                    <div class="flex flex-row justify-between space-x-2 w-full">
                                        <div class="text-blue-500 flex space-x-2" *ngIf="card.Trangthai==0"
                                        [matMenuTriggerFor]="menu">
                                        <span class="material-icons m-auto text-lg">
                                            notifications
                                        </span>
                                    </div>

                                    <div class="text-yellow-500 flex space-x-2" *ngIf="card.Trangthai==1"
                                        [matMenuTriggerFor]="menu">
                                        <span class="material-icons m-auto text-lg">
                                            hourglass_full
                                        </span>
                                    </div>

                                    <div class="text-green-500 flex space-x-2" *ngIf="card.Trangthai==2"
                                        [matMenuTriggerFor]="menu">
                                        <span class="material-icons m-auto text-lg">
                                            check_circle
                                        </span>
                                    </div>
                                    <mat-menu #menu="matMenu">
                                        <button class="text-blue-500" mat-menu-item
                                            (click)="ChangeStatusTasks(card,0)">
                                            <span class="material-icons my-auto text-lg">
                                                notifications
                                            </span>Chưa làm</button>
                                        <button class="text-yellow-500" mat-menu-item
                                            (click)="ChangeStatusTasks(card,1)">
                                            <span class="material-icons my-auto text-lg">
                                                hourglass_full
                                            </span>
                                            Đang làm</button>
                                        <button class="text-green-500" mat-menu-item
                                            (click)="ChangeStatusTasks(card,2)">
                                            <span class="material-icons my-auto text-lg">
                                                check_circle
                                            </span>
                                            Hoàn Thành</button>
                                    </mat-menu>
                                        <div class="w-full text-ellipsis overflow-hidden">
                                            <textarea matInput cdkTextareaAutosize class="w-full"
                                                [value]="card.Tieude"
                                                (keydown.control.enter)="ChangeTask(card,'Tieude',$event.target.value)"></textarea>
                                        </div>
                                        <div
                                            class="group-hover:flex hidden flex-row justify-between items-center space-x-2">
                                            <div class="cursor-pointer space-x-2">
                                                <span class="material-icons text-lg" (click)="OpenEdit(card)">
                                                    edit
                                                </span>
                                            </div>
                                            <div>
                                                <span class="material-icons text-lg text-red-500"
                                                    (click)="DeleteCard(card)">
                                                    delete
                                                </span>
                                            </div>
                                        </div>
                                    </div>
               <div class="flex flex-row items-center space-x-5 text-hint" (click)="OpenEdit(card)">
                                    <span class="material-icons text-lg" [matTooltip]="card.Thuchien|findbyid:Nhanviens:'name'" *ngIf="card.Thuchien">
                                            account_circle
                                         </span>
                                    <ng-container *ngIf="card.Batdau && card.Ketthuc">
                                            <div class="flex flex-row items-center">
                                                <span class="material-icons text-base mx-2">
                                                    schedule
                                                    </span>
                                                    <span class="text-md">
                                                        {{card.Batdau |
                                                            date:'dd/MM/yyyy'}} -
                                                            {{card.Ketthuc | date:'dd/MM/yyyy'}}
                                                    </span>
                                                </div>     
                                    </ng-container>
                                    <div class="flex items-center mx-3">
                                    <span class="material-icons text-md -ml-2">
                                        message
                                     </span>
                                        <span class="text-md">1</span>
                                    </div>
                                    </div>     
                                </a>
                            </ng-container>

                        </div>
                    </div>
                    
                    <app-duanaddcard [buttonTitle]="'Thêm Đầu Việc'" (saved)="addCard(list, $event)">
                    </app-duanaddcard>
                </div>
            </ng-container>
            <app-duanaddlist (saved)="addList($event)" [buttonTitle]="'Thêm Nhóm'">
            </app-duanaddlist>
        </div>

    </div>

</div>
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin1"
    [cdkConnectedOverlayOpen]="isOpenUser" (detach)="isOpenUser = false" (backdropClick)="isOpenUser = false">
    <div class="w-60 rounded border shadow-md bg-card m-3">
        <div class="flex items-center m-3 mr-2">
            <div class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <div class="ml-2">
                    <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30">
                </div>
            </div>
        </div>
        <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
            <ng-container>
                <div class="py-2 space-y-2">
                    <ng-container *ngFor="let item of filterNhanviens|Unique:Duan.Thamgia:'id'">
                        <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" mat-ripple
                            (click)="ChonUser(SelectCard,item)">
                            <div class="ml-1">{{item|findbyid:Nhanviens:'name'}}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin"
    [cdkConnectedOverlayOpen]="isOpenDuan" (detach)="isOpenDuan = false" (backdropClick)="isOpenDuan = false">
    <div class="w-84 rounded border shadow-md bg-card m-3">
        <div class="flex items-center m-3 mr-2">
            <div class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <div class="ml-2">
                    <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30"
                        #newTagInput>
                </div>
            </div>
        </div>
        <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
            <ng-container>
                <div class="py-2 space-y-2">
                    <ng-container *ngFor="let item of Overgroup">
                        <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple
                            (click)="ChonGroup(SelectCard,item.id)">
                            <div class="ml-1">{{item.Tieude}}</div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>