<div class="flex flex-col w-full">
    <ng-container *ngIf="nhanvien.profile">
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <ng-container *ngIf="nhanvien.background">
                <img class="absolute inset-0 object-cover w-full h-full" [src]="nhanvien.background">
            </ng-container>
            <ng-container *ngIf="!nhanvien.background">
                <img class="absolute inset-0 object-cover w-full h-full" style="background-color: rgb(0, 102, 255);">
            </ng-container>
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto mt-2">
                <div class="flex items-center ml-auto mb-1">
                    <button mat-icon-button (click)="editNhanvien()">
                        <mat-icon class="text-white" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                    </button>
                </div>
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>


        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <form [formGroup]="NhanvienForm">
                    <div class="flex flex-auto items-end -mt-40">
                        <div
                            class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <img class="object-cover w-full h-full" *ngIf="nhanvien.avatar" [src]="nhanvien.avatar">
                            <div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!nhanvien.avatar">
                                {{nhanvien.name.charAt(0)}}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col mt-4 pt-6 ">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Thông Tin Cá Nhân">
                                <div class="flex flex-col mt-4 pt-6 space-y-3">
                                    <ng-container>
                                        <div class="flex justify-center">
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-2/3">
                                                <div class="material-icons icon-size-5" matPrefix>
                                                    account_circle
                                                </div>
                                                <input [formControlName]="'name'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix ml-3 w-1/3">
                                                <mat-select placeholder="Phân Quyền" [formControlName]="'Role'"
                                                    #roleSelect="matSelect">
                                                    <mat-select-trigger class="text-md">
                                                        <span>Role:</span>
                                                        <span class="ml-1 font-medium">{{roleSelect.value |
                                                            titlecase}}</span>
                                                    </mat-select-trigger>
                                                    <mat-option [value]="'admin'" class="h-auto py-4 leading-none">
                                                        <div class="font-medium">Admin</div>
                                                        <div
                                                            class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary">
                                                            Toàn quyền quản lý</div>
                                                    </mat-option>
                                                    <mat-option [value]="'manager'">Quản Lý</mat-option>
                                                    <mat-option [value]="'user'">Nhân Viên</mat-option>
                                                    <mat-option [value]="'dev'">IT</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    <ng-container>
                                        <div class="flex justify-center">
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-1/2">
                                                <span class="material-icons icon-size-5" matPrefix>
                                                    alternate_email
                                                </span>
                                                <input [formControlName]="'email'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix ml-3 w-1/2">
                                                <div class="material-icons icon-size-5" matPrefix>
                                                    <span class="material-icons">
                                                        phone_iphone
                                                    </span>
                                                </div>
                                                <input [formControlName]="'SDT'" matInput class="mat-select-value-text">
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    <div [formGroupName]="'profile'" class="flex flex-col space-y-3">
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Mã Nhân Viên
                                                </div>
                                                <input [formControlName]="'MaNV'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Giới Tính
                                                </div>
                                                <input [formControlName]="'Gioitinh'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Ngày Sinh
                                                </div>
                                                <!-- <input [formControlName]="'Ngaysinh'" matInput class="mat-select-value-text"> -->
                                                <input matInput [matDatepicker]="picker" [formControlName]="'Ngaysinh'">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    CMND/CCCD
                                                </div>
                                                <input [formControlName]="'CMND'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Địa Chỉ
                                                </div>
                                                <input [formControlName]="'Diachi'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Zalo
                                                </div>
                                                <input [formControlName]="'Zalo'" matInput
                                                    class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <div class="text-secondary" matPrefix>
                                                    Facebook
                                                </div>
                                                <input [formControlName]="'Fb'" matInput class="mat-select-value-text">
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Thông Tin Công Ty">

                                <div class="flex flex-col mt-4 border-t space-y-3" [formGroupName]="'profile'">
                                    <ng-container>
                                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                            <div class="text-secondary" matPrefix>
                                                Công Ty
                                            </div>
                                            <mat-select [formControlName]="'Congty'">
                                                <mat-option [value]="item.key" *ngFor="let item of Congty|keyvalue">
                                                    {{item.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container>
                                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                            <div class="text-secondary" matPrefix>
                                                Khối
                                            </div>
                                            <mat-select [formControlName]="'Khoi'">
                                                <mat-option [value]="item.key" *ngFor="let item of Khoi|keyvalue">
                                                    {{item.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container>
                                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                            <div class="text-secondary" matPrefix>
                                                Phòng Ban
                                            </div>
                                            <mat-select [formControlName]="'Phongban'">
                                                <mat-option [value]="item.key" *ngFor="let item of Phongban|keyvalue">
                                                    {{item.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container>
                                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                            <div class="text-secondary" matPrefix>
                                                Bộ Phận
                                            </div>
                                            <mat-select [formControlName]="'Bophan'">
                                                <mat-option [value]="item.key" *ngFor="let item of Bophan|keyvalue">
                                                    {{item.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container>
                                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                            <div class="text-secondary" matPrefix>
                                                Vị Trí
                                            </div>
                                            <mat-select [formControlName]="'Vitri'">
                                                <mat-option [value]="item.key" *ngFor="let item of Vitri|keyvalue">
                                                    {{item.value}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </mat-tab>
                            <mat-tab label="Phân Quyền">
                                <div class="border-b-2 mb-4 py-8">
                                    <div class="text-xl py-2"> Phân Quyền Khách Hàng Chi Nhánh</div>
                                    <div class="flex flex-row space-x-2">
                                        <div>
                                            <mat-checkbox [disabled]="PQisDisabled"
                                                (change)="ChangeAllChinhanh($event)">All</mat-checkbox>
                                        </div>
                                        <div *ngFor="let item of PQChinhanh |keyvalue">
                                            <mat-checkbox [disabled]="PQisDisabled"
                                                (change)="ChangeChinhanh(item.key, $event)" [checked]="item.value">
                                                {{Chinhanh[item.key]}}</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-b-2 py-8">
                                    <div class="text-xl py-2"> Phân Quyền Menu</div>
                                    <div class="grid grid-cols-2 md:grid-cols-3 space-2">
                                        <div>
                                            <mat-checkbox [disabled]="PQisDisabled" (change)="ChangeAllMenu($event)">All
                                            </mat-checkbox>
                                        </div>
                                        <div *ngFor="let item of PQMenu |keyvalue">
                                            <mat-checkbox [disabled]="PQisDisabled"
                                                (change)="ChangeMenu(item.key, $event)" [checked]="item.value">
                                                {{item.key|findbyuuid:Menu:'title'}}</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
<!-- 
                                <div class="border-b-2 py-8">
                                    <div class="flex flex-row space-x-2 items-center">
                                        <div class="text-xl py-2"> Phân Quyền Menu</div>
                                        <button (click)="tree.treeControl.expandAll()"><span class="material-icons">
                                                add
                                            </span></button>
                                        <button (click)="tree.treeControl.collapseAll()"><span
                                                class="material-icons">remove</span></button>
                                    </div>


                                    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl"
                                        class="example-tree flex flex-col">
                                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="space-x-2">
                                            <mat-slide-toggle #toggleElement class="example-margin"
                                                [checked]="node.status" (change)="Changetatus(node,$event)">
                                            </mat-slide-toggle>
                                            <span (click)="EditMenu(node)" class="cursor-pointer">{{node.title}} </span>
                                        </mat-tree-node>
                                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild">
                                            <div class="mat-tree-node">
                                                <mat-slide-toggle #toggleElement class="example-margin"
                                                    [checked]="node.status" (change)="Changetatus(node,$event)">
                                                </mat-slide-toggle>
                                                <button mat-icon-button matTreeNodeToggle
                                                    [attr.aria-label]="'Toggle ' + node.title">
                                                    <mat-icon class="mat-icon-rtl-mirror">
                                                        {{treeControl.isExpanded(node) ? 'expand_more' :
                                                        'chevron_right'}}
                                                    </mat-icon>
                                                </button>
                                                <span (click)="EditMenu(node)"
                                                    class="cursor-pointer">{{node.title}}</span>
                                            </div>
                                        </mat-tree-node>
                                    </mat-tree>

                                </div> -->



                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <button mat-button [color]="'warn'" [matTooltip]="'Xóa'" (click)="deleteNhanvien()">
                            Xóa
                        </button>
                        <button class="ml-auto" mat-button [matTooltip]="'Hủy'" (click)="Cancel()">
                            Hủy
                        </button>
                        <button class="ml-2" mat-flat-button [color]="'primary'"
                            [disabled]="NhanvienForm.invalid || NhanvienForm.disabled" [matTooltip]="'Save'"
                            (click)="updateNhanvien()">
                            Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>