<mat-drawer-container class="w-full" autosize fuseScrollbar>
  <mat-drawer #matDrawerMenu class="auto" mode="side" opened position="start">
    <div class="flex flex-col justify-center space-y-4 p-4 bg-card">
      <button mat-button *ngFor="let item of MenuCongviec" [value]="item" [routerLink]="['./'+ item.link]"
        [routerLinkActive]="['bg-blue-500', 'text-white']">{{item.title}}</button>
    </div>
  </mat-drawer>


  <mat-drawer #matDrawer class="scroll lg:w-3/5 w-full flex flex-auto flex-col" mode="over" position="end">
    <div class="flex flex-col flex-0 p-2 rounded-2xl h-full bg-card ">

    <div class="flex flex-row justify-between p-4">
      <div>
        <h2 class="text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"> Cập Nhật</h2>
      </div>
      <div class="flex flex-row space-x-4">
        <span class="material-icons text-green-500" (click)="UpdateTask()">save</span>
        <span class="material-icons text-red-500" (click)="DeleteTask()">delete_forever</span>
      <!-- <button mat-button class="bg-green-500 text-white" (click)="UpdateTask()">Lưu</button>
      <button mat-button class="bg-red-500 text-white" (click)="DeleteTask()">Xóa</button> -->
      <span class="material-icons pr-4" (click)="matDrawer.toggle()">
        cancel
      </span>
      </div>
    </div>
    <div class="flex flex-col flex-auto p-4 space-y-3 overflow-y-auto scroll" *ngIf="CurretTask">
      <div class="flex flex-row space-x-4">
        <div class="my-auto font-bold w-1/4"> Tiêu Đề </div>
        <input [value]="CurretTask.Tieude" matInput (keydown.enter)="ChangeTask(CurretTask,'Tieude',$event.target.value)">
      </div>
      <div class="flex flex-col space-y-4">
        <div class="my-auto font-bold w-1/4"> Mô Tả </div>
        <ckeditor [editor]="Editor" [config]="config" [data]="CurretTask.Mota"
          (change)="UpdateEditor(CurretTask,'Mota',$event)" (ready)="onReady($event)"></ckeditor>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="my-auto font-bold w-1/4"> Deadline </div>
        <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
          [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !CurretTask.Batdau&&!CurretTask.Ketthuc,
                    'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': CurretTask.Batdau && CurretTask.Ketthuc}" (click)="DeadlinePicker.open()">
          <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
          <span class="ml-2 text-md font-medium">
            <ng-container *ngIf="CurretTask.Batdau || CurretTask.Ketthuc">{{CurretTask.Batdau | date:'dd/MM/yyyy'}} -
              {{CurretTask.Ketthuc | date:'dd/MM/yyyy'}}</ng-container>
            <ng-container *ngIf="!CurretTask.Batdau && !CurretTask.Ketthuc">Chưa Chọn</ng-container>
          </span>
          <mat-form-field
            class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
            <mat-form-field appearance="fill" class="example-form-field">
              <mat-date-range-input [rangePicker]="DeadlinePicker">
                <input matStartDate placeholder="Start date" #DeadlineBg>
                <input matEndDate placeholder="End date" #DeadlineKt>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #DeadlinePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel
                    (click)="UpdateDeadlineTask(CurretTask,null,null)">xóa</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply
                    (click)="UpdateDeadlineTask(CurretTask,DeadlineBg.value,DeadlineKt.value)">Chọn</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>


          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="my-auto font-bold w-1/4"> Dự Án </div>
        <div class="flex flex-row space-x-2 items-center">
          <button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleDuan(trigger,CurretTask)">
            <div
              class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-800 bg-gray-200 dark:text-gray-100 dark:bg-gray-500">
              <span class="ml-2 mr-1 text-md font-medium">
                <ng-container *ngIf="CurretTask.sid">
                  {{(CurretTask.sid|findbyid:Sections:'pjid')|findbyid:Duans:'Tieude'}} / {{CurretTask.sid|findbyid:Sections:'Tieude'}} 
                </ng-container>
                <ng-container *ngIf="!CurretTask.sid">
                  Chưa Chọn
                </ng-container>
              </span>
            </div>
          </button>
          <span class="material-icons text-red-500" (click)="RemoveDuan()">
            cancel
            </span>
        </div>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="my-auto font-bold w-1/4">Thực Hiện </div>
        <div class="flex flex-row space-x-6 items-center text-hint">
          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleThuchien(trigger,CurretTask)">
            <span class="material-icons">
              account_circle
              </span>
              <ng-container *ngIf="CurretTask.Thuchien">  
                <div class="flex flex-row space-x-2"><span>{{CurretTask.Thuchien|findbyid:Nhanviens:'name'}}</span> <span class="text-sm text-hint">({{Vitri[(CurretTask.Thuchien|findbyid:Nhanviens:'profile').Vitri]}})</span></div>
              </ng-container>
              <ng-container *ngIf="!CurretTask.Thuchien">
               <span>Chưa Chọn</span>
              </ng-container>
          </div>
          <div class="flex flex-row space-x-2 items-center" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleGroup(trigger,CurretTask)">
            <span class="material-icons">
              assignment_turned_in
              </span>
              <ng-container *ngIf="CurretTask.gid">
                <span>{{(CurretTask.gid|findbyid:Groups:'Tieude')}}</span>   
              </ng-container>
              <ng-container *ngIf="!CurretTask.gid">
                <span>Chưa Chọn</span>
              </ng-container>
          </div>
        </div>
      </div>
<mat-divider></mat-divider>
      <div class="flex flex-col space-y-4 border rounded p-3">
        <div class="flex flex-row space-x-4">
          <span class="font-bold">Tên</span><span class="text-sm text-hint">Vài Giây Trước</span>
        </div>
        <div class="flex">Text Nội Dung Chat</div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-col space-y-4 border rounded p-3">
        <div class="flex flex-row space-x-4">
          <span class="font-bold">Tên</span><span class="text-sm text-hint">Vài Giây Trước</span>
        </div>
        <div class="flex">Text Nội Dung Chat</div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-col space-y-4 border rounded p-3">
        <div class="flex flex-row space-x-4">
          <span class="font-bold">Tên</span><span class="text-sm text-hint">Vài Giây Trước</span>
        </div>
        <div class="flex">Text Nội Dung Chat</div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-col space-y-4 border rounded p-3">
        <div class="flex flex-row space-x-4">
          <span class="font-bold">Tên</span><span class="text-sm text-hint">Vài Giây Trước</span>
        </div>
        <div class="flex">Text Nội Dung Chat</div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-col space-y-4 border rounded p-3">
        <div class="flex flex-row space-x-4">
          <span class="font-bold">Tên</span><span class="text-sm text-hint">Vài Giây Trước</span>
        </div>
        <div class="flex">Text Nội Dung Chat</div>
      </div>           
    </div>
      <div class="flex items-end p-4 border-t bg-gray-50 dark:bg-transparent">
        <div class="flex items-center h-11 my-px">
            <button mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:emoji-happy'"></mat-icon>
            </button>
            <button
                class="ml-0.5"
                mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:paper-clip'"></mat-icon>
            </button>
        </div>
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full ml-4">
            <textarea
                class="min-h-5 my-0 resize-none scroll"
                style="margin: 11px 0 !important; padding: 0 !important;"
                [rows]="1"
                matInput
                #messageInput
                cdkTextareaAutosize></textarea>
        </mat-form-field>
        <div class="flex items-center h-11 my-px ml-4">
            <button
                mat-icon-button>
                <mat-icon
                    class="transform rotate-90"
                    [svgIcon]="'heroicons_outline:paper-airplane'"></mat-icon>
            </button>
        </div>
    </div>
      <!-- <button mat-button class="bg-green-500 text-white" (click)="UpdateTask()">Lưu</button>
      <button mat-button class="bg-red-500 text-white" (click)="DeleteTask()">Xóa</button> -->
    </div>
  </mat-drawer>

  <mat-drawer-content class="bg-card flex flex-col flex-auto">
    <div class="flex flex-col flex-auto w-full min-w-0">

      <!-- <div class="flex flex-row justify-center space-x-4 p-4 bg-card">
        <button mat-button *ngFor="let item of MenuCongviec" [value]="item" [routerLink]="['./'+ item.link]"
          [routerLinkActive]="['bg-blue-500', 'text-white']">{{item.title}}</button>
      </div> -->
      <div class="flex flex-col flex-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin"
  [cdkConnectedOverlayOpen]="isOpenDuan" (detach)="isOpenDuan = false" (backdropClick)="isOpenDuan = false">
  <div class="w-84 rounded border shadow-md bg-card m-3">
    <div class="flex items-center m-3 mr-2">
      <div class="flex items-center">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <div class="ml-2">
          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30" #newTagInput>
        </div>
      </div>
    </div>
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
      <ng-container>
        <div class="py-2 space-y-2">
          <!-- <ng-container *ngFor="let item of Duans">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple
              (click)="ChonDuan(SelectDuan,item.id)">
              <div class="ml-1">{{item.Tieude}}</div>
            </div>
          </ng-container> -->
          <ng-container *ngFor="let item of Duansections">
            <ng-container *ngFor="let item1 of item.sections">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple (click)="ChonDuan(SelectDuan,item1.id)">
              <div class="ml-1">{{item.Tieude}}/{{item1.Tieude}}</div>
              <ng-container *ngIf="!CurretTask.sid">
                Chưa Chọn
              </ng-container>
            </div>
          </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin"
  [cdkConnectedOverlayOpen]="isOpenThuchien" (detach)="isOpenThuchien = false" (backdropClick)="isOpenThuchien = false">
  <div class="w-84 rounded border shadow-md bg-card m-3">
    <div class="flex items-center m-3 mr-2">
      <div class="flex items-center">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <div class="ml-2">
          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30" (input)="filterThanvien($event)">
        </div>
      </div>
    </div>
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
      <ng-container>
        <div class="py-2 space-y-2">
          <ng-container *ngFor="let item of filteredNhanvien">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple
              (click)="ChonThuchien(SelectDuan,item.id)">
              <div class="ml-1 flex flex-row space-x-2"><span>{{item.name}}</span> <span class="text-sm text-hint" *ngIf="item.profile.Vitri">({{Vitri[item.profile.Vitri]}})</span></div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin"
  [cdkConnectedOverlayOpen]="isOpenGroup" (detach)="isOpenGroup = false" (backdropClick)="isOpenGroup = false">
  <div class="w-84 rounded border shadow-md bg-card m-3">
    <div class="flex items-center m-3 mr-2">
      <div class="flex items-center">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <div class="ml-2">
          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30">
        </div>
      </div>
    </div>
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
      <ng-container>
        <div class="py-2 space-y-2">
          <ng-container *ngFor="let item of GroupbyUser">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple
              (click)="ChonGroup(SelectDuan,item.id)">
              <div class="ml-1">{{item.Tieude}}</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>