.scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
     background-color: #ddd;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #00256e;
  }