<div class="scroll flex-auto p-3 overflow-y-hidden" cdkScrollable>
    <div class="flex" cdkDropList [cdkDropListData]="Boards" [cdkDropListOrientation]="'horizontal'"
        (cdkDropListDropped)="listDropped($event)">
        <div class="flex items-start" cdkDropListGroup>
            <ng-container *ngFor="let list of Boards; trackBy: trackByFn; let i = index">
                <div class="flex-0 w-96 p-2 rounded-2xl" cdkDrag [cdkDragLockAxis]="'x'">
                    <div class="flex items-center justify-between" cdkDragHandle>
                        <div
                            class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
                            <input class="w-full font-medium leading-5 bg-transparent" [spellcheck]="'false'"
                                [value]="list.Tieude"
                                (keydown.enter)="updateListTitle($event, list);listTitleInput.blur()" #listTitleInput>
                        </div>
                        <div
                            class="flex items-center justify-center min-w-6 ml-4 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                            {{list.tasks.length}}
                        </div>
                        <div class="ml-1">
                            <button class="w-8 h-8 min-h-8" mat-icon-button [matMenuTriggerFor]="listMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>

                            <mat-menu #listMenu="matMenu">
                                <button mat-menu-item (click)="deleteGroup(list)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    Xóa Group
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div
                        class="scroll mt-2 rounded-xl h-full overflow-auto bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                            <div [id]="list.id" class="px-3 py-5" cdkDropList [cdkDropListData]="list.tasks"
                                (cdkDropListDropped)="cardDropped($event,list.tasks)">
                                <ng-container *ngFor="let card of list.tasks; trackBy: trackByFn">
                                    <a class="flex flex-col items-start mb-3 p-2 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                        cdkDrag>
                                        <div class="group flex flex-row justify-between space-x-2 w-full">
                                            <div class="w-full text-ellipsis">
                                                <textarea matInput cdkTextareaAutosize class="w-full"
                                                    [value]="card.Tieude"
                                                    (keydown.enter)="ChangeTask(card,'Tieude',$event.target.value)"></textarea>
                                            </div>
                                            <div
                                                class="group-hover:flex hidden flex-row justify-between items-center space-x-2">
                                                <div class="text-blue-500 flex space-x-2" *ngIf="card.Trangthai==0"
                                                    [matMenuTriggerFor]="menu">
                                                    <span class="material-icons m-auto text-2xl">
                                                        notifications
                                                    </span>
                                                </div>

                                                <div class="text-yellow-500 flex space-x-2" *ngIf="card.Trangthai==1"
                                                    [matMenuTriggerFor]="menu">
                                                    <span class="material-icons m-auto text-2xl">
                                                        hourglass_full
                                                    </span>
                                                </div>

                                                <div class="text-green-500 flex space-x-2" *ngIf="card.Trangthai==2"
                                                    [matMenuTriggerFor]="menu">
                                                    <span class="material-icons m-auto text-2xl">
                                                        check_circle
                                                    </span>
                                                </div>
                                                <mat-menu #menu="matMenu">
                                                    <button class="text-blue-500" mat-menu-item
                                                        (click)="ChangeStatusTasks(card,0)">
                                                        <span class="material-icons my-auto text-2xl">
                                                            notifications
                                                        </span>Chưa làm</button>
                                                    <button class="text-yellow-500" mat-menu-item
                                                        (click)="ChangeStatusTasks(card,1)">
                                                        <span class="material-icons my-auto text-2xl">
                                                            hourglass_full
                                                        </span>
                                                        Đang làm</button>
                                                    <button class="text-green-500" mat-menu-item
                                                        (click)="ChangeStatusTasks(card,2)">
                                                        <span class="material-icons my-auto text-2xl">
                                                            check_circle
                                                        </span>
                                                        Hoàn Thành</button>
                                                </mat-menu>
                                                <div class="cursor-pointer space-x-2">
                                                    <span class="material-icons text-2xl" (click)="OpenEdit(card)">
                                                        edit
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="material-icons text-2xl text-red-500"
                                                        (click)="DeleteCard(card)">
                                                        delete
                                                    </span>
                                                </div>
                                            </div>


                                        </div>

                                        <!-- <ng-container *ngIf="card.Batdau&&card.Ketthuc">
                                            <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                                            [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !card.Batdau&&!card.Ketthuc,
                                                'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': card.Batdau && card.Ketthuc}"
                                            (click)="DeadlinePicker.open()">
                                            <mat-icon class="icon-size-5 text-current"
                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                            <span class="ml-2 text-md font-medium">
                                                <ng-container>{{card.Batdau |
                                                    date:'dd/MM/yyyy'}} -
                                                    {{card.Ketthuc | date:'dd/MM/yyyy'}}</ng-container>
                                            </span>
                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                                <mat-form-field appearance="fill" class="example-form-field">
                                                    <mat-date-range-input [rangePicker]="DeadlinePicker">
                                                        <input matStartDate placeholder="Start date" #DeadlineBg>
                                                        <input matEndDate placeholder="End date" #DeadlineKt>
                                                    </mat-date-range-input>
                                                    <mat-datepicker-toggle matSuffix [for]="rangePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-date-range-picker #DeadlinePicker>
                                                        <mat-date-range-picker-actions>
                                                            <button mat-button matDateRangePickerCancel
                                                                (click)="UpdateDeadlineTask(card,null,null)">xóa</button>
                                                            <button mat-raised-button color="primary"
                                                                matDateRangePickerApply
                                                                (click)="UpdateDeadlineTask(card,DeadlineBg.value,DeadlineKt.value)">Chọn</button>
                                                        </mat-date-range-picker-actions>
                                                    </mat-date-range-picker>
                                                </mat-form-field>
                                            </mat-form-field>
                                        </div>
                    </ng-container>
                                        
                    <ng-container *ngIf="card.sid">
                                    <button cdkOverlayOrigin #trigger="cdkOverlayOrigin"
                                        (click)="toggleDuan(trigger,card)">
                                        <div
                                            class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-800 bg-gray-200 dark:text-gray-100 dark:bg-gray-500">
                                            <span class="material-icons">topic</span>
                                            <span class="ml-2 mr-1 text-md font-medium truncate">
                                                    {{(card.sid|findbyid:Sections:'pjid')|findbyid:Duans:'Tieude'}}/{{card.sid|findbyid:Sections:'Tieude'}}
                                            </span>
                                        </div>

                                    </button>
                        </ng-container> -->
                                        <!-- <span class="ml-2 text-md font-medium">
                                      <ng-container *ngIf="card.sid">{{list.Tieude}}/{{card.sid|findbyid:Sections:'Tieude'}}</ng-container>
                                      <ng-container *ngIf="!card.sid">Chưa Chọn</ng-container>
                                    </span>                                  -->

                                        <!-- Labels -->
                                        <!-- <ng-container *ngIf="card.labels.length">
                                        <div>
                                            <div class="flex flex-wrap -mx-1 -mb-2">
                                                <ng-container *ngFor="let label of card.labels; trackBy: trackByFn">
                                                    <div class="mx-1 mb-2 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                        {{label.title}}
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container> -->
                                        <!-- Due date -->
                                        <ng-container *ngIf="card.dueDate">
                                            <div class="flex items-center rounded text-sm font-medium leading-5 text-secondary"
                                                [ngClass]="{'text-red-600': isOverdue(card.dueDate)}">
                                                <mat-icon class="icon-size-4 text-current"
                                                    [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                                                <div class="ml-1">
                                                    {{card.dueDate | date: 'longDate'}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </a>
                                </ng-container>


                            </div>
                    </div>
                </div>
            </ng-container>
            <app-addlist (saved)="addList($event)" [buttonTitle]="'Thêm Group'">
            </app-addlist>
        </div>

    </div>

</div>



<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin"
    [cdkConnectedOverlayOpen]="isOpenDuan" (detach)="isOpenDuan = false" (backdropClick)="isOpenDuan = false">
    <div class="w-84 rounded border shadow-md bg-card m-3">
        <div class="flex items-center m-3 mr-2">
            <div class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <div class="ml-2">
                    <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30"
                        #newTagInput>
                </div>
            </div>
        </div>
        <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
            <ng-container>
                <div class="py-2 space-y-2">
                    <ng-container *ngFor="let item of Duansections">
                        <ng-container *ngFor="let item1 of item.sections">
                            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple
                                (click)="ChonDuan(SelectDuan,item1.id)">
                                <div class="ml-1">{{item.Tieude}}/{{item1.Tieude}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>