<mat-drawer-container class="flex w-full" autosize>
    <mat-drawer #drawer class="p-3 w-2/3" mode="side" [opened]="true" [position]="'end'">
        <div class="text-center p-2 font-bold text-2xl">Danh Sách Nhân Viên</div>
      
    </mat-drawer>
<mat-drawer-content class="flex flex-col flex-auto p-3 w-full">
<div class="w-full absolute inset-0 flex flex-col min-w-0">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
<div class="text-center p-2 font-bold text-2xl">Danh Sách Nhân Viên</div>

<div class="flex flex-row justify-between items-center space-x-2 px-4">
    <span class="material-icons">
      add_circle
      </span>
    <mat-form-field class="fuse-mat-no-subscript rounded-full m-auto w-full p-2">
      <input matInput class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30"
      (input)="filterNhanvien($event)">
      <mat-icon matPrefix>
        <span class="material-icons">
          search
        </span>
      </mat-icon>
    </mat-form-field>
    <div (click)="Menutoggle()">
      <span class="material-icons" *ngIf="Menuwidth">
        east
        </span>
      <span class="material-icons" *ngIf="!Menuwidth">
        west
        </span>
    </div>
  </div>  
  <div class="overflow-auto scroll">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>

        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"  [pageSize]="20" aria-label="Select page of users"></mat-paginator>
    </div>
    </mat-drawer-content>
  </mat-drawer-container>
  