<mat-drawer-container autosize class="w-full">
  <mat-drawer #matDrawer class="w-full md:w-3/4 flex" mode="over">
    <div class="m-auto p-4">
      <div class="flex justify-between py-3">
        <div class="text-2xl font-bold">{{Title}}</div>
        <div (click)="matDrawer.toggle()"><span class="material-icons">
            cancel
          </span></div>
      </div>
      <form [formGroup]="CauhoiForm">
        <div class="flex flex-col mt-4 pt-6 space-y-3">
          <ng-container>
            <div class="flex flex-col">
              <div class="w-full flex flex-row space-x-4">
                <mat-form-field class="w-3/4">
                  <mat-label>Danh Mục</mat-label>
                  <mat-select [formControlName]="'Danhmuc'" #Danhmuc>
                    <mat-option [value]="item.id" *ngFor="let item of Danhmucs">{{item.Tieude}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="material-icons m-auto" (click)="isAddDM=true" *ngIf="CRUD==0">add_circle</span>
              </div>
              <div class="w-full flex flex-col space-y-4" *ngIf="isAddDM">
                <mat-form-field class="fuse-mat-emphasized-affix">
                  <input matInput placeholder="Tên Danh Mục" [value]="TenDanhmuc.value" #TenDanhmuc>
                  <button matSuffix mat-raised-button class="bg-blue-600 text-white" (click)="CreateDanhMuc(TenDanhmuc)">Thêm Danh Mục</button>
                </mat-form-field>
              </div>             
              <div class="w-full flex">
                <mat-form-field class="w-3/4">
                  <mat-label>Vị Trí</mat-label>
                  <mat-select [formControlName]="'Vitri'" multiple>
                    <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                    <mat-option *ngFor="let item of Vitri|keyvalue" [value]="item.key" (click)="tosslePerOne(allSelected.viewValue)">
                      {{item.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-form-field class="w-3/4">
                  <mat-label>Vị Trí</mat-label>
                  <mat-select [formControlName]="'Vitri'" multiple>
                    <mat-option [value]="item.key" *ngFor="let item of Vitri|keyvalue">{{item.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox class="m-auto" (click)="ChoseAllVitri()">Tất Cả</mat-checkbox> -->
              </div>
              <div class="w-full">
                <div class="font-bold p-2">Câu Hỏi</div>
                <div class="p-3 border-2">
                  <ckeditor [editor]="Editor" [config]="config" [formControlName]="'NoidungCauhoi'"></ckeditor>
                </div>
              </div>
              <div class="w-full">
                <div class="font-bold p-2">Trả Lời</div>
                <div class="p-3 border-2">
                  <ckeditor [editor]="Editor" [config]="config" [formControlName]="'NoidungTraloi'"></ckeditor>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="flex justify-end space-x-3 mt-10 p-4">
          <button *ngIf="CRUD==0" mat-flat-button [color]="'primary'" class="bg-blue-600" (click)="CreateTraloi()">Thêm
            Mới</button>
          <button *ngIf="CRUD!=0" mat-flat-button [color]="'primary'" class="bg-green-600" (click)="UpdateTraloi()">Cập
            Nhật</button>
        </div>
      </form>
    </div>


  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="flex flex-col flex-auto min-w-0">
      <div class="flex flex-col p-4">
        <div class="flex flex-row space-x-4 mb-4">
          <a mat-button [routerLink]="['../']" [color]="'primary'">
            <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
          </a>
          <div class="w-2/3">
            <mat-form-field class="fuse-mat-no-subscript flex-auto sm:w-full">
              <input matInput [placeholder]="'Tìm Kiếm'" (input)="filterByQuery(query.value)" #query class="w-auto">
              <mat-icon matPrefix>
                <span class="material-icons">
                  search
                </span>
              </mat-icon>
            </mat-form-field>
          </div>

          <span class="material-icons m-auto" (click)="AddCauhoi()">
            add_circle
          </span>
        </div>
        <div class="w-full">
          <div class="overflow-auto">
            <table mat-table [dataSource]="dataSource" matSort class="w-full">
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center"> # </th>
                <td mat-cell *matCellDef="let row;let i =index">
                  <button mat-button [matMenuTriggerFor]="action">
                    {{i+1}}
                    <span class="material-icons">
                      more_vert
                    </span></button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item (click)="EditCauhoi(row)">
                      <span class="material-icons text-blue-700">
                        edit
                      </span> Chỉnh Sửa
                    </button>
                    <button mat-menu-item (click)="DeleteCauhoi(row)">
                      <span class="material-icons text-red-700">
                        delete
                      </span>
                      Xóa
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <ng-container matColumnDef="Danhmuc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-70"> Danh Mục </th>
                <td mat-cell *matCellDef="let row" class="max-w-70"> {{row.Danhmuc|findbyid:Danhmucs:'Tieude'}}</td>
              </ng-container>
              <ng-container matColumnDef="NoidungCauhoi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-70"> Nội Dung Câu Hỏi </th>
                <td mat-cell *matCellDef="let row" class="max-w-70">
                  <div class="line-clamp-3" [tooltip]="NoidungCauhoi" contentType="template"
                    [innerHTML]="row.NoidungCauhoi" hideDelay="0">
                  </div>
                  <ng-template #NoidungCauhoi>
                    <div [innerHTML]="row.NoidungCauhoi"></div>
                  </ng-template>

                </td>
              </ng-container>
              <ng-container matColumnDef="NoidungTraloi">
                <th mat-header-cell *matHeaderCellDef class="max-w-70">
                  Nội Dung Trả Lời
                </th>
                <td mat-cell *matCellDef="let row" class="max-w-70">

                  <div class="line-clamp-3" [tooltip]="NoidungTraloi" contentType="template"
                    [innerHTML]="row.NoidungTraloi" hideDelay="0">
                  </div>
                  <ng-template #NoidungTraloi>
                    <div [innerHTML]="row.NoidungTraloi"></div>
                  </ng-template>

                </td>
              </ng-container>
              <ng-container matColumnDef="Cauhoituongtu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Câu Hỏi Tương Tự </th>
                <td mat-cell *matCellDef="let row">
                  <div class="flex flex-wrap items-center">
                    <ng-container *ngIf="row.Cauhoituongtu.length!=0">
                      {{row.Cauhoituongtu.length}} Câu Tương Tự
                      <!-- <ng-container *ngFor="let item of row.Cauhoituongtu">
                        <div
                          class="flex items-center justify-center px-2 m-1.5 rounded-full text-white bg-blue-500 dark:text-gray-300 dark:bg-gray-700">
                          <span class="text-md font-medium whitespace-nowrap truncate w-24"
                            [innerHTML]="item|findbyid:Cauhois:'NoidungCauhoi'"></span>
                        </div>
                      </ng-container> -->
                    </ng-container>
                    <div
                      class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                      (click)="openPanel(row)" #PanelOrigin>

                      <ng-container *ngIf="row.Cauhoituongtu.length!=0">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-1.5 text-md font-medium whitespace-nowrap">Sửa</span>
                      </ng-container>
                      <ng-container *ngIf="row.Cauhoituongtu.length==0">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        <span class="ml-1.5 text-md font-medium whitespace-nowrap">Thêm</span>
                      </ng-container>

                      <ng-template #Panel>
                        <div class="w-60 rounded border shadow-md bg-card">
                          <div class="flex items-center m-3 mr-2">
                            <div class="flex items-center">
                              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                              <div class="ml-2">
                                <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm"
                                  (input)="filterPanel($event)" [maxLength]="30" #newPanelInput>
                              </div>
                            </div>
                          </div>
                          <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                            <ng-container>
                              <ng-container *ngFor="let item of Cauhois">
                                <div class="flex items-center min-h-10 truncate  px-4 cursor-pointer hover:bg-hover"
                                  (click)="toggleItem(PanelItem,item)" matRipple>
                                  <mat-checkbox class="flex items-center min-h-10 pointer-events-none"
                                    [checked]="PanelItem.Cauhoituongtu.includes(item.id)" [color]="'primary'"
                                    [disableRipple]="true">
                                  </mat-checkbox>
                                  <div class="ml-1" [innerHTML]="item.NoidungCauhoi"></div>
                                </div>
                              </ng-container>
                            </ng-container>

                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>

                </td>
              </ng-container>
              <ng-container matColumnDef="Vitri">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vị Trí </th>
                <td mat-cell *matCellDef="let row"> 

         <ng-container *ngIf="(row.Vitri|keyvalue).length-1 != (Vitri|keyvalue).length; else elseTemplate">
          <button mat-button [matMenuTriggerFor]="menu">{{row.Vitri.length}} Vị Trí</button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of row.Vitri">
              <button mat-menu-item> {{Vitri[item]}}</button>
              </ng-container>
          </mat-menu>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <span class="text-center p-1 m-1 rounded-full text-white bg-blue-500 dark:text-gray-300 dark:bg-gray-700">
                     Tất Cả
                     </span>
                  </ng-template>
                  </td>
              </ng-container>
              <ng-container matColumnDef="idTao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Người Tạo </th>
                <td mat-cell *matCellDef="let row"> {{row.idTao|findbyid:Nhanviens:'name'}} </td>
              </ng-container>
              <ng-container matColumnDef="Trangthai">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-button [matMenuTriggerFor]="menu" class="h-5 min-h-5 px-3 text-white text-sm" [ngClass]="{
                      'bg-blue-400': row.Trangthai == 0,
                      'bg-yellow-400': row.Trangthai == 1,
                      'bg-red-700': row.Trangthai == 2,
                      'bg-green-700': row.Trangthai == 3
}"><span>{{row.Trangthai|findbyid:Status:'title'}}</span></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let item of Status" (click)="UpdateStatus(row,item)" [ngClass]="{
                        'text-blue-400': item.id == 0,
                        'text-yellow-400': item.id == 1,
                        'text-red-700': item.id == 2,
                        'text-green-700': item.id == 3
  }">{{item.title}}</button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>
      </div>
    </div>
  </div>

</mat-drawer-container>