<button mat-icon-button color="accent" (click)="openPanel()" #notificationsOrigin>
   <ng-container *ngIf="Changelogs">{{version}}</ng-container>
</button>
<ng-template #customNotification let-notificationData="notification">
    <my-custom-alert type="notificationData.type"> 
        <div class="mr-2 flex flex-row space-x-2 items-center">
            <span>{{ notificationData.message }}</span> 
            <span class="material-icons p-2 rounded bg-blue-500" (click)="Capnhatphienban()">update</span>
           </div>
    </my-custom-alert>
  </ng-template>
<ng-template #notificationsPanel>
    <div
        class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-120 sm:w-120 sm:rounded overflow-hidden shadow-lg">
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Bảng Cập Nhật</div>
        </div>

        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card scroll">
            <div class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5">

                <div class="flex-auto p-4">
                    <div class="prose prose-sm max-w-5xl">
                        <ng-container>
                            <form [formGroup]="VerForm" class="flex flex-col space-y-4 m-4" *ngIf="ThisUser.Role=='dev'">
                                <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                    <div matPrefix>Version</div>
                                    <input [formControlName]="'Version'" matInput
                                        class="mat-select-value-text">
                                </mat-form-field>
                                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Noidung'"></ckeditor>
                               <div class="flex space-x-4">
                                   <button mat-raised-button [color]="'primary'" (click)="CreateChangelog()">Thêm</button>
                                   <button mat-raised-button [color]="'primary'" (click)="UpdateChangelog()">Cập Nhật</button>
                            </div> 
                            </form>
                            <div class="mb-12 p-4 rounded-2xl shadow bg-card" *ngFor="let item of Changelogs">
                                 <div class="flex flex-row space-x-4">
                                    <h2 class="my-0">{{item.Version}}</h2>
                                    <div class="font-semibold text-md text-secondary m-auto">{{item.Ngaytao|date:'dd/MM/yyyy'}}</div>
                                    <span class="material-icons" (click)="EditChangelog(item)">edit_note</span>
                                </div>
                                <hr class="mt-4">
                                <ng-container>
                                    <div class="mt-4">
                                            <span [innerHTML]="item.Noidung"></span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>


        </div>

    </div>

</ng-template>