<div class="flex flex-col sm:flex-row md:flex-col justify-between flex-auto">
  <mat-drawer-container autosize class="h-full" fuseScrollbar>
    <mat-drawer #sidenav class="flex flex-col sm:w-3/4 w-full p-3" mode="over">
      <div class="flex justify-between">
        <h2 mat-dialog-title>{{Title}}</h2>
        <span class="material-icons pr-4" (click)="sidenav.toggle()" [routerLink]="['./']">
          cancel
        </span>
      </div>
      <form [formGroup]="LichhopForm">
        <div class="grid sm:grid-cols-12 gap-6 w-full mt-8">
          <div class="sm:col-span-6">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix>
                Tiêu Đề
              </div>
              <input [formControlName]="'Tieude'" matInput class="mat-select-value-text">
            </mat-form-field>
          </div>
          <div class="sm:col-span-3">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix>
                Loại Hình
              </div>
              <mat-select [formControlName]="'Loaihinh'">
                <div class="p-3 border-b"><input matInput placeholder="Tìm Kiếm" #searchLoaihinh></div>
                <mat-option *ngFor="let item of Loaihinhhop | keyvalue| timkiem : searchLoaihinh.value:'value'"
                  [value]="item.key">
                  {{item.value}}
                </mat-option>
                <mat-option *ngIf="(Loaihinhhop | keyvalue| timkiem : searchLoaihinh.value:'value').length==0">
                  Không Tìm Thấy
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="sm:col-span-3">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix>
                Công Ty
              </div>
              <mat-select [formControlName]="'Congty'" placeholder="Vui Lòng Chọn">
                <div class="p-3 border-b"><input matInput placeholder="Tìm Kiếm" #searchCongty></div>
                <mat-option *ngFor="let item of Congty | keyvalue| timkiem : searchCongty.value:'value'"
                  [value]="item.key">
                  {{item.value}}
                </mat-option>
                <mat-option *ngIf="(Congty | keyvalue| timkiem : searchCongty.value:'value').length==0">
                  Không Tìm Thấy
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="sm:col-span-3">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix>
                Chủ Trì
              </div>
              <input type="text" matInput [formControlName]="'Chutri'" hidden="true">
              <span class="text-red-500">{{LichhopForm.get('Chutri').value | findbyid:Nhanvien:'name'}}</span>
            </mat-form-field>
          </div>
          <div class="sm:col-span-6">
            <div class="text-secondary" matPrefix>
              Tham Gia
            </div>
            <div class="flex flex-wrap items-center">
              <ng-container *ngIf="LichhopForm.get('Thamgia').value as Thamgia">
                <ng-container *ngFor="let tag of idThamgia">
                  <div
                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-white bg-blue-700 dark:text-gray-300 dark:bg-gray-700">
                    <span class="text-md font-medium whitespace-nowrap">{{tag| findbyid:Nhanvien:'name'}} ({{Vitri[(tag|findbyid:Nhanvien:'profile').Vitri]}})</span>
                  </div>
                </ng-container>
              </ng-container>
              <div
                class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                (click)="openTagsPanel()" #tagsPanelOrigin>

                <ng-container *ngIf="idThamgia.length">
                  <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                  <span class="ml-1.5 text-md font-medium whitespace-nowrap">Sửa</span>
                </ng-container>

                <ng-container *ngIf="!idThamgia.length">
                  <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                  <span class="ml-1.5 text-md font-medium whitespace-nowrap">Thêm</span>
                </ng-container>

                <ng-template #tagsPanel>
                  <div class="w-60 rounded border shadow-md bg-card">

                    <div class="flex items-center m-3 mr-2">
                      <div class="flex items-center">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <div class="ml-2">
                          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm"
                            (input)="filterTags($event)" (keydown)="filterTagsInputKeyDown($event)" [maxLength]="30"
                            #newTagInput>
                        </div>
                      </div>
                      <button class="ml-1" mat-icon-button (click)="toggleTagsEditMode()">
                      </button>
                    </div>
                    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                      <ng-container *ngIf="!tagsEditMode">
                        <ng-container *ngFor="let tag of filteredTags;">
                          <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                            (click)="toggleTaskTag(tag)" matRipple>
                            <mat-checkbox class="flex items-center h-10 min-h-10" [color]="'primary'"
                              [checked]="idThamgia.includes(tag.id)">
                            </mat-checkbox>
                            <div class="ml-1">{{tag.name}}  ({{Vitri[(tag.id|findbyid:Nhanvien:'profile').Vitri]}})</div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </ng-template>
              </div>

            </div>
          </div>
          <div class="sm:col-span-3">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix>
                Ngân Sách
              </div>
              <input type="text" placeholder="Nhập Ngân Sách" matInput [formControlName]="'Ngansach'"
                class="mat-select-value-text">
            </mat-form-field>
          </div>
          <div class="sm:col-span-6">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix> Bắt Đầu </div>
              <input matInput [ngxMatDatetimePicker]="picker" placeholder="Chọn Ngày Bắt Đầu"
                [formControlName]="'Batdau'" [min]="minDate" [max]="maxDate" class="mat-select-value-text">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [enableMeridian]="enableMeridian">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="sm:col-span-6">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix> Kết Thúc </div>
              <input matInput [ngxMatDatetimePicker]="pickerketthuc" placeholder="Chọn Ngày Kết Thúc"
                [formControlName]="'Ketthuc'" [min]="minDate" [max]="maxDate" class="mat-select-value-text">
              <mat-datepicker-toggle matSuffix [for]="pickerketthuc"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerketthuc [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [enableMeridian]="enableMeridian">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="sm:col-span-6">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix> Review </div>
              <input matInput [ngxMatDatetimePicker]="pickerreview" placeholder="Chọn Ngày" [formControlName]="'Review'"
                [min]="minDate" [max]="maxDate" class="mat-select-value-text">
              <mat-datepicker-toggle matSuffix [for]="pickerreview"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerreview [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [enableMeridian]="enableMeridian">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="sm:col-span-6">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
              <div class="text-secondary" matPrefix> Hoàn Thành </div>
              <input matInput [ngxMatDatetimePicker]="pickerhoanthanh" placeholder="Chọn Ngày"
                [formControlName]="'Hoanthanh'" [min]="minDate" [max]="maxDate" class="mat-select-value-text">
              <mat-datepicker-toggle matSuffix [for]="pickerhoanthanh"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerhoanthanh [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [enableMeridian]="enableMeridian">
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="sm:col-span-12">
            <mat-tab-group class="min-h-48 max-w-90 sm:max-w-full" #tabGroup>
              <mat-tab label="Nội Dung">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Noidung'"></ckeditor>
              </mat-tab>
              <mat-tab label="Triển Khai">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Trienkhai'"></ckeditor>
              </mat-tab>
              <mat-tab label="Kết Quả">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Ketqua'"></ckeditor>
              </mat-tab>
              <mat-tab label="Mong Đợi">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Mongdoi'"></ckeditor>
              </mat-tab>
              <mat-tab label="Điều Chỉnh">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Dieuchinh'"></ckeditor>
              </mat-tab>
              <mat-tab label="Điều Kiện Khác">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Dieukienkhac'"></ckeditor>
              </mat-tab>
              <mat-tab label="Nguyên Nhân">
                <ckeditor [editor]="Editor" [config]="config" [formControlName]="'Nguyennhan'"></ckeditor>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="sm:col-span-12">

          </div>
        </div>

        <div class="flex items-center justify-end mt-3">
          <button class="ml-4" *ngIf="CRUD==1" mat-flat-button type="button" [color]="'primary'"
            (click)="CreateLichhop()">Tạo Mới
          </button>
          <button class="ml-4" *ngIf="CRUD==2" mat-flat-button type="button" [color]="'accent'"
            (click)="UpdateLichhop()">Cập Nhật
          </button>
          <button class="ml-4" *ngIf="CRUD==2" mat-flat-button type="button" [color]="'warn'"
            (click)="DeleteLichhop()">Xóa Lịch
          </button>
        </div>
      </form>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="flex flex-col justify-center">
        <div class="text-center py-3 md:text-3xl text-1xl font-extrabold">{{ viewDate | calendarDate:(view +
          'ViewTitle'):'vi' }}</div>
        <div class="my-2 mx-auto">
          <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
            <mat-button-toggle value="red" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              < </mat-button-toggle>
                <mat-button-toggle value="green" mwlCalendarToday [(viewDate)]="viewDate">Hôm Nay</mat-button-toggle>
                <mat-button-toggle value="blue" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">></mat-button-toggle>
                <mat-button-toggle value="blue" (click)="Opentoggle()">
                  <mat-icon>add_circle</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="blue" (click)="lichhopchitiet.toggle()">
                  <span class="material-icons">
                    list
                  </span>
                </mat-button-toggle>

          </mat-button-toggle-group>
        </div>
      </div>

      <div class="flex flex-col">
        <div class="w-full md:p-3 m-auto">
          <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="eventClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
    <mat-drawer #lichhopchitiet class="flex flex-col md:w-1/3 w-full p-3" [mode]="drawerMode" opened position="end">
      <div class="flex justify-between">
        <h2 mat-dialog-title>{{Lichhops.length}} Lịch Họp</h2>
        <span class="material-icons pr-4" (click)="lichhopchitiet.toggle()">
          cancel
        </span>
      </div>
      <div class="flex flex-row space-x-2">
        <mat-form-field class="fuse-mat-no-subscript flex-auto rounded-full">
          <input matInput [placeholder]="'Tìm Kiếm'" (input)="filterByQuery(query.value)" #query>
          <mat-icon matPrefix>
            <span class="material-icons">
              search
            </span>
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-date-range-input
            [formGroup]="campaignOne"
            [rangePicker]="campaignOnePicker"
            [comparisonStart]="campaignOne.value.start"
            [comparisonEnd]="campaignOne.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div *ngFor="let item of filteredLichhops" (click)="editLichhop(item)" class="p-3 hover:text-blue-600 flex">
        <div class="truncate "> {{item.Batdau|date:'dd/MM/YYYY'}} - {{item.Tieude}}</div>
        <div class="material-icons ml-auto" [tooltip]="HtmlContent" contentType="template">
          people
        </div>
        <ng-template #HtmlContent>
          <div *ngFor="let item1 of item.Thamgia; let i = index" class="text-left">
            {{i+1}}.{{item1|findbyid:Nhanvien:'name'}} ({{Vitri[(item1|findbyid:Nhanvien:'profile').Vitri]}})</div>
        </ng-template>
      </div>
    </mat-drawer>
  </mat-drawer-container>