<mat-drawer-container class="flex w-full" autosize>
    <mat-drawer #drawer class="p-3 w-7/12" mode="side" [opened]="true" [position]="'end'">
        <div class="text-center p-4 font-bold text-2xl">Nhân Viên</div>
        <router-outlet></router-outlet>
    </mat-drawer>
<mat-drawer-content class="flex flex-col flex-auto p-3 w-5/12">
<div class="w-full absolute inset-0 flex flex-col min-w-0">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
<div class="text-center p-2 font-bold text-2xl">Danh Sách Nhân Viên</div>

<div class="flex flex-row justify-between items-center space-x-2 px-4">
    <span class="material-icons">
      add_circle
      </span>
    <mat-form-field class="fuse-mat-no-subscript rounded-full m-auto w-full p-2">
      <input matInput class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30"
      (input)="filterNhanvien($event.target.value)" #input>
      <mat-icon matPrefix>
        <span class="material-icons">
          search
        </span>
      </mat-icon>
    </mat-form-field>
    <div (click)="Menutoggle()">
      <span class="material-icons" *ngIf="Menuwidth">
        east
        </span>
      <span class="material-icons" *ngIf="!Menuwidth">
        west
        </span>
    </div>
  </div>  
  <div class="overflow-auto scroll">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>

        <td mat-cell *matCellDef="let row"> 
            {{row.avatar}}
            <span class="material-icons" *ngIf="!row.avatar">
                account_circle
                </span> 
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['./', row.id]"> 
            <div class="flex flex-col space-y-1 justify-start text-md py-2">
                <span class="font-bold"> {{row.name}}  </span>
                <span> {{row.SDT}}</span>
                <span> {{row.email}}</span>
               
            </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row">
           <span class="text-md">{{Role[row.Role]}}</span>
             </td>
      </ng-container>
      <ng-container matColumnDef="Trangthai">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
        <td mat-cell *matCellDef="let row"> 
            <span class="text-md"> {{row.Trangthai|findbyid:Trangthai:'value'}}</span>
            </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Không Tìm Thấy Nhân Viên "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"  [pageSize]="20" aria-label="Select page of users"></mat-paginator>
    </div>
    </mat-drawer-content>
  </mat-drawer-container>
  