<div class="flex flex-col flex-auto min-w-0 h-full">
  <div class="flex flex-col w-full max-w-screen-xl mx-auto p-3 md:py-2 bg-card">
    <div class="flex flex-row space-x-2 py-2 justify-between">
      <div class="flex space-x-2 justify-between w-full">
        <div class="my-auto" (click)="MenuToggle()">
          <span class="material-icons">
            dashboard
            </span>
         </div>
        <div class="text-2xl font-bold w-3/4 m-auto">
          <input class="w-full" matInput [value]="Duan.Tieude" (keydown.enter)="UpdateDuan(Duan,'Tieude',$event.target.value)">
        </div>


        <!-- <div class="flex flex-row space-x-4">
          <mat-button-toggle-group class="hidden lg:flex">
            <mat-button-toggle value="item.id" *ngFor="let item of listview" (click)="chosenView(item.id)" [matTooltip]="item.tooltip">
              <div class="flex flex-row space-x-2 items-center">
                <span class="material-icons text-blue-500">
                  {{item.value}}
                  </span>
                  <span class="hidden lg:flex">{{item.title}}</span>
              </div>

               
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div> -->


        <div class="flex space-x-4">
          <div class="flex space-x-2">
            <div class="m-auto">
              <div mat-button [matMenuTriggerFor]="menu" >
                <div *ngIf="Duan.Trangthai==0" class="text-blue-500"> 
                  <span class="material-icons my-auto">notifications</span></div>
                <div *ngIf="Duan.Trangthai==1" class="text-yellow-500"><span class="material-icons my-auto">hourglass_full</span></div>
                <div *ngIf="Duan.Trangthai==2" class="text-green-500"><span class="material-icons my-auto">check_circle</span></div>
                </div>
            </div>
              <mat-menu #menu="matMenu">
                <button mat-menu-item class="text-yellow-500" (click)="ChangeStatusDuan(1)"><span class="material-icons my-auto">hourglass_full</span> Đang Làm</button>
                <button mat-menu-item class="text-green-500" (click)="ChangeStatusDuan(2)"><span class="material-icons my-auto">check_circle</span> Hoàn Thành</button>
              </mat-menu>
            </div>
            <div class="font-bold m-auto">
              <ng-container *ngIf="Duan.Noibat==0; else elseTemplate">
                <span class="material-icons" (click)="UpdateDuan(Duan,'Noibat',true)">star_border</span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="material-icons text-yellow-500" (click)="UpdateDuan(Duan,'Noibat',false)">star</span>
              </ng-template>
            </div>
            <div class="flex">
              <ng-container>
                <div class="flex items-center">
                  <div class="relative">
                    <span class="material-icons" *ngIf="Duan.Thamgia.length==0">
                      people
                    </span>
                    <span class="material-icons" [tooltip]="HtmlContent" contentType="template" *ngIf="Duan.Thamgia.length!=0">
                      people
                    </span>
                      <div class="-top-2 -right-2 p-2 absolute flex flex-0 items-center justify-center w-3 h-3 rounded-full ring ring-offset-1 ring-bg-card bg-red-500 ring-offset-transparent bg-gray-200 text-white">
                        <div class="text-md font-semibold">
                          {{ Duan.Thamgia.length }}

                        </div>
                    </div>  
                    
                    <ng-template #HtmlContent>
                      <div *ngFor="let item1 of Duan.Thamgia; let i = index" class="text-left">
                        {{i+1}}.{{item1|findbyid:Nhanviens:'name'}} 
                        ({{Vitri[(item1|findbyid:Nhanviens:'profile').Vitri]}})
                      </div>
                    </ng-template>

                  </div>
                </div>
              </ng-container>
            </div>  
            <span class="material-icons" [matMenuTriggerFor]="menuChild">
              widgets
              </span> 
              
              <mat-menu #menuChild="matMenu">
                <button mat-menu-item value="item.id" *ngFor="let item of listview" (click)="chosenView(item.id)" [matTooltip]="item.tooltip">
                  <div class="flex flex-row space-x-2 items-center">
                    <span class="material-icons text-blue-500">
                      {{item.value}}
                      </span>
                      <span>{{item.title}}</span>
                  </div>
                </button>

              </mat-menu>
        </div>

      </div>
    </div>
    <div class="flex flex-col flex-auto">
      <div *ngIf="view==1">
        <div class="flex lg:flex-row flex-col space-x-2">
        <div class="my-4 lg:w-1/2 w-full">
            <div class="text-2xl font-bold">Mô Tả Dự Án</div>
            <ckeditor class="p-3" [editor]="Editor" [config]="{placeholder:'Mô Tả Dự Án'}" [data]="Duan.Mota" (change)="UpdateEditorDuan(Duan,'Mota',$event)" (ready)="onReady($event)"></ckeditor>
          </div>

         <div class="my-4 lg:w-1/2 w-full">
            <div class="text-2xl font-bold">Tóm Tắt Dự Án</div>
            <ckeditor class="p-3" [editor]="Editor" [config]="{placeholder:'Tóm Tắt Dự Án'}" [data]="Duan.Tomtat"
              (change)="UpdateEditorDuan(Duan,'Tomtat',$event)" (ready)="onReady($event)"></ckeditor>
          </div> 
        </div>

          <mat-divider></mat-divider>
          <div class="my-4">
            <div class="flex flex-row py-3">
              <span class="text-2xl font-bold"> Thành Viên Dự Án </span>              
            </div>
            <div class="flex flex-auto flex-wrap gap-4 w-full">
              <div class="p-4 my-auto border border-dashed w-20 h-20">
                <button *ngIf="Duan.idTao == CUser.id" class="m-auto bg-blue-500" mat-mini-fab cdkOverlayOrigin #triggerThanhvien="cdkOverlayOrigin" (click)="toggleThanhvien(triggerThanhvien)">
                  <span class="material-icons">
                    person_add
                    </span>
                </button>
              </div>
              <div *ngFor="let item of Duan.Thamgia"
                class="relative ring-bg-card p-4 border border-dashed flex items-center cursor-pointer hover:bg-gray-100 dark:hover:bg-hover">
                <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                  <img alt="Contact avatar" class="object-cover w-full h-full ng-star-inserted"
                    src="assets/images/logo/logo300.png">
                </div>
                <div class="min-w-0 ml-4">
                  <div class="font-medium leading-5 truncate">{{item|findbyid:Nhanviens:'name'}}</div>
                  <div class="font-medium text-hint truncate">{{Vitri[(item|findbyid:Nhanviens:'profile').Vitri]}}</div>
                </div>
                <div class="absolute -top-2 -right-2" (click)="RemoveMang(Duan,'Thamgia',item)"
                  *ngIf="Duan.idTao == CUser.id">
                  <span class="material-icons text-red-500 text-xl">
                    remove_circle
                  </span>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="my-4">
            <div class="text-2xl font-bold">Tài Nguyên</div>
            <app-tainguyen [CurentDuan]="Duan"></app-tainguyen>
          </div>
      </div>
      <app-duanboard *ngIf="view==2" class="absolute inset-0 top-14 flex flex-col min-w-0 overflow-hidden ng-star-inserted"></app-duanboard>
      <app-duantimeline *ngIf="view==3"></app-duantimeline>
   </div>

  </div>
</div>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin" [cdkConnectedOverlayOpen]="isOpen"
  (detach)="isOpen = false" (backdropClick)="isOpen = false">
  <div class="w-60 rounded border shadow-md bg-card m-3">
    <div class="flex items-center m-3 mr-2">
      <div class="flex items-center">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <div class="ml-2">
          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30" #newTagInput>
        </div>
      </div>
    </div>
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
      <ng-container>
        <div class="py-2 space-y-2">
          <ng-container *ngFor="let item of Duan.Thamgia">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" matRipple (click)="UpdateTask(SelectThuchien,'Thuchien',item)">
              <div class="ml-1">{{item|findbyid:Nhanviens:'name'}}</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="triggerOrigin" [cdkConnectedOverlayOpen]="ThanhvienisOpen"
  (detach)="ThanhvienisOpen = false" (backdropClick)="ThanhvienisOpen = false">
  <div class="w-96 rounded border shadow-md bg-card m-3">
    <div class="flex items-center m-3 mr-2">
      <div class="flex items-center">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <div class="ml-2">
          <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm" [maxLength]="30" (input)="filterThanvien($event)">
        </div>
      </div>
    </div>
    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
      <ng-container>
        <div class="py-2 space-y-2">
          <ng-container *ngFor="let item of filterNhanviens|Unique:Duan.Thamgia:'id'">
            <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" mat-ripple (click)="AddMang(Duan,'Thamgia',item.id)">
              <div class="ml-1 flex flex-row space-x-2"><span>{{item.name}}</span> <span class="text-sm text-hint" *ngIf="item.profile.Vitri">({{Vitri[item.profile.Vitri]}})</span></div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>