
<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col max-w-screen-xl w-full mx-auto p-6">
      <ng-container *ngIf="data.length!=0; else elseTemplate">
         <h2>Timeline</h2>
         <google-chart #chart
         [title]="title"
         [type]="type"
         [data]="data"
         [columns]="chartColumns"
         [options]="options"
         class="w-full h-full">
      </google-chart>
      </ng-container>
      <ng-template #elseTemplate>
         <h2 class="text-center text-red-500">Chưa set thời gian cho công việc</h2>
      </ng-template>
      </div>

      <div id="chart">
         <apx-chart
           [series]="chartOptions.series"
           [chart]="chartOptions.chart"
           [fill]="chartOptions.fill"
           [legend]="chartOptions.legend"
           [plotOptions]="chartOptions.plotOptions"
           [xaxis]="chartOptions.xaxis"
         ></apx-chart>
       </div>

      </div>
  