<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Tạo Mới Dự Án</div>
        <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <mat-form-field class="fuse-mat-dense flex-auto">
            <mat-label>Tiêu Đề</mat-label>
            <input matInput [placeholder]="'Tiêu Đề'" [(ngModel)]="Duan.Tieude">
        </mat-form-field>
        <div class="fuse-mat-dense flex-auto">
            <mat-label>Mô Tả</mat-label>
            <ckeditor [editor]="Editor" [config]="{placeholder:'Tóm Tắt Dự Án'}" [(ngModel)]="Duan.Mota"></ckeditor>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="ml-auto space-x-4 flex mt-4 sm:mt-0">
                <button mat-flat-button
                    [color]="'primary'"
                    [disabled]="!Duan.Tieude && !Duan.Mota"
                    (click)="CreateDuan(Duan)" [mat-dialog-close]="true">
                    Lưu
                </button>
                <button mat-stroked-button matDialogClose>
                Đóng
            </button>
            </div>
        </div>
    </div>
</div>
