<div class="w-full max-w-3xl">
    <form [formGroup]="securityForm">
        <div class="w-full">
            <div class="text-xl">Thay đổi mật khẩu</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Mật Khẩu Hiện Tại</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'oldpass'"
                        type="password"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Mật Khẩu Mới</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'newpass'"
                        type="password"
                        matInput>
                </mat-form-field>
            </div>     
                <button
                [disabled]="!securityForm.valid"
                    mat-flat-button
                    type="button"
                    [color]="'primary'" (click)="ChangePassword()">Cập Nhật
                    
                </button> 
        </div>

    </form>

</div>
