<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container autosize>
        <mat-drawer class="flex flex-col sm:w-3/4 w-full p-3" #drawer mode="over">
          <div class="flex justify-between">    
          <span class="text-2xl">{{Title}}</span>
          <span class="material-icons pr-4" (click)="drawer.toggle()">
          cancel
          </span> 
        </div> 
            <form [formGroup]="VeTDForm">
                <div class="grid grid-cols-12 w-full mt-8 gap-4">

                    <div class="md:col-span-4 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                           Vị Trí
                          </div>
                          <mat-select [formControlName]="'Vitri'" placeholder="Vui Lòng Chọn">
                            <div class="p-3 border-b"><input matInput placeholder="Tìm Kiếm" #searchCongty></div>
                          <mat-option *ngFor="let item of Vitri | keyvalue| timkiem : searchCongty.value:'value'" [value]="item.key">
                            {{item.value}}
                          </mat-option>
                          <mat-option *ngIf="(Vitri | keyvalue| timkiem : searchCongty.value:'value').length==0">
                           Không Tìm Thấy
                          </mat-option>
                        </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="md:col-span-4 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Thời Gian Thử Việc
                          </div>
                          <input [formControlName]="'Thoigianthuviec'" type="number" matInput class="mat-select-value-text">
                          <div class="text-secondary" matSuffix>
                            Tháng
                          </div>
                        </mat-form-field>
                      </div>               

                      <div class="md:col-span-4 col-span-12">
                        <!-- <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Lý Do Tuyển
                          </div>
                          <input [formControlName]="'TGTV'" type="number" matInput class="mat-select-value-text">
                        </mat-form-field> -->
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Lý Do Tuyển
                          </div>
                          <mat-select [formControlName]="'Lydotuyen'">
                            <div class="p-3 border-b"><input matInput placeholder="Tìm Kiếm" #searchLydo></div>
                            <mat-option *ngFor="let item of Lydotuyen | keyvalue| timkiem : searchLydo.value:'value'"
                              [value]="item.key">
                              {{item.value}}
                            </mat-option>
                            <mat-option *ngIf="(Lydotuyen | keyvalue| timkiem : searchLydo.value:'value').length==0">
                              Không Tìm Thấy
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div> 
                      <div class="sm:col-span-4 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Nhân Sự Hiện Có
                          </div>
                          <input [formControlName]="'Nhansuhienco'" type="number" matInput class="mat-select-value-text">
                          <div class="text-secondary" matSuffix>
                            Người
                          </div>
                        </mat-form-field>
                      </div> 
                      <div class="sm:col-span-4 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Nhân Sự Cần Tuyển
                          </div>
                          <input [formControlName]="'Nhansucantuyen'" type="number" matInput class="mat-select-value-text">
                          <div class="text-secondary" matSuffix>
                            Người
                          </div>
                        </mat-form-field>
                      </div> 
                      <div class="sm:col-span-4 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Phê Duyệt
                          </div>
                          <input [formControlName]="'Nguoipheduyet'" type="number" matInput class="mat-select-value-text">
                        </mat-form-field>
                      </div> 
                      <div class="sm:col-span-6">
                        <div class="text-secondary" matPrefix>
                          Phê Duyệt
                        </div>
                        <div class="flex flex-wrap items-center">
                          <ng-container *ngIf="VeTDForm.get('Nguoipheduyet').value as Thamgia">
                            <ng-container *ngFor="let item of Nguoipheduyet">
                              <div
                                class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-white bg-blue-700 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-md font-medium whitespace-nowrap">{{item| findbyid:Nhanvien:'name'}}</span>
                              </div>
                            </ng-container>
                          </ng-container>
                          <div
                            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                            (click)="openPanel()" #PanelOrigin>
            
                            <ng-container *ngIf="Nguoipheduyet.length">
                              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                              <span class="ml-1.5 text-md font-medium whitespace-nowrap">Sửa</span>
                            </ng-container>
            
                            <ng-container *ngIf="!Nguoipheduyet.length">
                              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                              <span class="ml-1.5 text-md font-medium whitespace-nowrap">Thêm</span>
                            </ng-container>
            
                            <ng-template #tagsPanel>
                              <div class="w-60 rounded border shadow-md bg-card">
            
                                <div class="flex items-center m-3 mr-2">
                                  <div class="flex items-center">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <div class="ml-2">
                                      <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="Tìm Kiếm"
                                        (input)="filterNguoipheduyet($event)" [maxLength]="30">
                                    </div>
                                  </div>
                                  <button class="ml-1" mat-icon-button (click)="toggleNguoipheduyetEditMode()">
                                  </button>
                                </div>
                                <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                                  <ng-container *ngIf="!tagsEditMode">
                                    <ng-container *ngFor="let item of filteredTags;">
                                      <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                        (click)="toggleTaskTag(tag)" matRipple>
                                        <mat-checkbox class="flex items-center h-10 min-h-10" [color]="'primary'"
                                          [checked]="Nguoipheduyet.includes(item.id)">
                                        </mat-checkbox>
                                        <div class="ml-1">{{item.name}}</div>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-template>
                          </div>
            
                        </div>
                      </div>

                      <div class="sm:col-span-6 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Mức Lương Dự Kiến
                          </div>
                          <input [formControlName]="'Mucluongdukien'" type="number" matInput class="mat-select-value-text">
                        </mat-form-field>
                      </div> 
                      <div class="sm:col-span-6 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Tổng Thu Nhập
                          </div>
                          <input [formControlName]="'Tongthunhap'" type="number" matInput class="mat-select-value-text">
                        </mat-form-field>
                      </div> 

                      <div class="sm:col-span-6 col-span-12">
                        <div class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Mô Tả/Yêu Cầu
                          </div>
                        </div>
                      </div> 
                      <div class="sm:col-span-6 col-span-12">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                          <div class="text-secondary" matPrefix>
                            Ghi Chú
                          </div>
                          <input [formControlName]="'Ghichu'" type="number" matInput class="mat-select-value-text">
                        </mat-form-field>
                      </div> 
                </div>
                <div class="flex items-center justify-end mt-3">
                  <button class="ml-4" *ngIf="CRUD==1" mat-flat-button type="button" [color]="'primary'" (click)="CreateVetuyerndung()">Tạo Mới
                  </button>
                  <button class="ml-4" *ngIf="CRUD==2" mat-flat-button type="button" [color]="'accent'" (click)="UpdateVetuyerndung()">Cập Nhật
                  </button>
                  <button class="ml-4" *ngIf="CRUD==2" mat-flat-button type="button" [color]="'warn'" (click)="DeleteVetuyerndung()">Xóa
                  </button>         
                </div>
              </form>
        </mat-drawer>
        <div class="example-sidenav-content">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                <button mat-icon-button color="primary" (click)="drawer.toggle()">
                    <span class="material-icons">
                        add_circle
                        </span>
                  </button>
                </div>
        </div>
    </div> 

    <!-- Main -->
    <div
        class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto"
        cdkScrollable>

        <!-- Lists -->
        <div class="flex">
            <!-- cdkDropList
            [cdkDropListData]="lists"
            [cdkDropListOrientation]="'horizontal'"
            (cdkDropListDropped)="listDropped($event)" -->

            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div
                class="flex items-start"
                cdkDropListGroup>

                <!-- List -->
                <ng-container *ngFor="let list of lists; trackBy: trackByFn">
                    <div class="flex-0 w-72 p-2 rounded-2xl bg-default">

                        <div
                            class="flex items-center justify-between"
                            cdkDragHandle>
                            <div class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
                                <span>{{list.title}} : {{list.mota}}</span> 
                            </div>
                            <div class="flex items-center justify-center min-w-6 ml-4 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                               {{list.vetd.length}}
                            </div>
                        </div>
                        <div class="mt-2 py-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                            <div
                                [id]="list.id"
                                class="p-3 pb-0"
                                cdkDropList
                                [cdkDropListData]="list.vetd"
                                (cdkDropListDropped)="cardDropped($event)">
                                <!-- Card -->
                                <ng-container *ngFor="let card of list.vetd; trackBy: trackByFn">
                                    <a
                                        class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                        (click)="editPhieutuyendung(card)"
                                        cdkDrag>
                                        <!-- Title -->
                                        <div class="text-lg font-medium leading-5">{{Vitri[card.idVitri]}}</div>
                                        <!-- Labels -->
                                        <!-- Due date -->
                                        <ng-container *ngIf="card.Ngaytao">
                                            <div
                                                class="flex items-center rounded text-sm font-medium leading-5 text-secondary"
                                            >
                                                <mat-icon
                                                    class="icon-size-4 text-current"
                                                    [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                                                <div class="ml-1">
                                                    {{card.Ngaytao | date: 'longDate'}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </a>
                                </ng-container>
                            </div>

                            <!-- New card -->
                            <!-- <scrumboard-board-add-card
                                (saved)="addCard(list, $event)"
                                [buttonTitle]="list.cards.length ? 'Add another card' : 'Add a card'">
                            </scrumboard-board-add-card> -->
                        </div>
                    </div>
                </ng-container>

                <!-- New list -->

            </div>

        </div>

    </div>

        </div>
      
      </mat-drawer-container>



    


</div>

<!-- Invisible router-outlet for ScrumboardCard component -->
<div class="absolute invisible w-0 h-0 opacity-0 pointer-events-none">
    <router-outlet></router-outlet>
</div>
