<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
        <mat-drawer-container
            class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
            <mat-drawer
                class="w-full md:w-160 dark:bg-gray-900"
                [mode]="drawerMode"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true"
                #matDrawer>
                <router-outlet></router-outlet>
            </mat-drawer>
            <mat-drawer-content class="flex flex-col">
                <div class="flex-auto">
                    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                         <div>
                            <div class="text-4xl font-extrabold tracking-tight leading-none">Phiếu Yêu Cầu</div>
                            <div class="ml-0.5 font-medium text-secondary">
                                <ng-container *ngIf="vetuyendungsCount > 0">
                                    {{vetuyendungsCount}}
                                </ng-container>
                                {{vetuyendungsCount | i18nPlural: {
                                '=0'   : 'Không Tìm Thấy Phiếu Yêu Cầu',
                                '=1'   : 'Phiếu Yêu Cầu',
                                'other': 'Phiếu Yêu Cầu'
                            } }}
                            </div>
                        </div>
                        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                            <div class="flex-auto">
                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <input
                                        matInput
                                        [formControl]="searchInputControl"
                                        [autocomplete]="'off'"
                                        [placeholder]="'Tìm Phiếu Tuyển Dụng'">
                                </mat-form-field>
                            </div>
                            <button
                                class="ml-4"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="createYeucau()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Thêm</span>
                            </button>
                        </div>
                        <div class="flex-auto -mt-px pt-4">
                            <div class="w-full max-w-screen-xl mx-auto">
                                    <button mat-stroked-button class="m-2 pr-8">Bước 1 <span matBadge="4" matBadgeOverlap="false"></span></button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 2 <span matBadge="4" matBadgeOverlap="false"></span></button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 3</button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 4</button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 5</button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 6</button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 7</button>
                                    <button mat-stroked-button class="m-2 pr-8">Bước 8</button>               
                            </div>
                        </div>            
                    </div>
    
                    <!-- Contacts list -->
                    <div class="relative">
                        <ng-container *ngIf="vetuyendungs$ | async as contacts">
                            <ng-container *ngIf="contacts.length; else noContacts">
                                <ng-container *ngFor="let contact of contacts; let i = index; trackBy: trackByFn">                           
                                    <a
                                        class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                        [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedVetuyendung || selectedVetuyendung.id !== contact.id,
                                                    'bg-primary-50 dark:bg-hover': selectedVetuyendung && selectedVetuyendung.id === contact.id}"
                                        [routerLink]="['./', contact.id]">
                                        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                                            <ng-container *ngIf="contact.avatar">
                                                <img
                                                    class="object-cover w-full h-full"
                                                    [src]="contact.avatar"
                                                    alt="Contact avatar"/>
                                            </ng-container>
                                            <ng-container *ngIf="!contact.avatar">
                                                <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                    {{contact.Vitri}}
                                                </div>
                                            </ng-container>

                                        </div>
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate" [ngClass]="{'text-red-500': !contact.idVitri}">
                                                {{(contact.idVitri|Custom:Vitri) || 'Phiếu Mới'}}
                                            </div>
                                            <div class="leading-5 truncate text-secondary">{{contact.Ngaytao| date:'dd/MM/yyyy'}}</div>
                                        </div>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </ng-container>
    
                        <!-- No contacts -->
                        <ng-template #noContacts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Chưa Có Phiếu Yêu Cầu</div>
                        </ng-template>
    
                    </div>
    
                </div>

            </mat-drawer-content>
    
        </mat-drawer-container>
    
    

</div>

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex-1 min-w-0">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                {{board.title}}
            </h2>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a
                mat-stroked-button
                [routerLink]="['..']">
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                Boards
            </a>
            <button
                class="ml-3"
                mat-stroked-button>
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                Settings
            </button>
        </div>
    </div>

    <!-- Main -->
    <div
        class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto"
        cdkScrollable>

        <!-- Lists -->
        <div
            class="flex"
            cdkDropList
            [cdkDropListData]="board.lists"
            [cdkDropListOrientation]="'horizontal'"
            (cdkDropListDropped)="listDropped($event)">

            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div
                class="flex items-start"
                cdkDropListGroup>

                <!-- List -->
                <ng-container *ngFor="let list of board.lists; trackBy: trackByFn">
                    <div
                        class="flex-0 w-72 p-2 rounded-2xl bg-default"
                        cdkDrag
                        [cdkDragLockAxis]="'x'">

                        <div
                            class="flex items-center justify-between"
                            cdkDragHandle>
                            <div class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
                                <input
                                    class="w-full font-medium leading-5 bg-transparent"
                                    [spellcheck]="'false'"
                                    [value]="list.title"
                                    (focusout)="updateListTitle($event, list)"
                                    (keydown.enter)="listTitleInput.blur()"
                                    #listTitleInput>
                            </div>
                            <div class="flex items-center justify-center min-w-6 ml-4 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                {{list.cards.length}}
                            </div>
                            <div class="ml-1">
                                <button
                                    class="w-8 h-8 min-h-8"
                                    mat-icon-button
                                    [matMenuTriggerFor]="listMenu">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #listMenu="matMenu">
                                    <button
                                        mat-menu-item
                                        (click)="renameList(listTitleInput)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                        Rename list
                                    </button>
                                    <button
                                        mat-menu-item
                                        (click)="deleteList(list.id)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                        Delete list
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <!-- Cards -->
                        <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                            <div
                                [id]="list.id"
                                class="p-3 pb-0"
                                cdkDropList
                                [cdkDropListData]="list.cards"
                                (cdkDropListDropped)="cardDropped($event)">

                                <!-- Card -->
                                <ng-container *ngFor="let card of list.cards; trackBy: trackByFn">
                                    <a
                                        class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                        [routerLink]="['card', card.id]"
                                        cdkDrag>
                                        <!-- Cover image -->
                                        <ng-container *ngIf="card.coverImage">
                                            <div class="-mx-5 -mt-5 mb-2">
                                                <img
                                                    class="w-full object-cover"
                                                    [src]="card.coverImage">
                                            </div>
                                        </ng-container>
                                        <!-- Title -->
                                        <div class="text-lg font-medium leading-5">{{card.title}}</div>
                                        <!-- Labels -->
                                        <ng-container *ngIf="card.labels.length">
                                            <div>
                                                <div class="flex flex-wrap -mx-1 -mb-2">
                                                    <ng-container *ngFor="let label of card.labels; trackBy: trackByFn">
                                                        <div class="mx-1 mb-2 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                            {{label.title}}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- Due date -->
                                        <ng-container *ngIf="card.dueDate">
                                            <div
                                                class="flex items-center rounded text-sm font-medium leading-5 text-secondary"
                                                [ngClass]="{'text-red-600': isOverdue(card.dueDate)}">
                                                <mat-icon
                                                    class="icon-size-4 text-current"
                                                    [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                                                <div class="ml-1">
                                                    {{card.dueDate | date: 'longDate'}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </a>
                                </ng-container>
                            </div>

                            <!-- New card -->
                            <scrumboard-board-add-card
                                (saved)="addCard(list, $event)"
                                [buttonTitle]="list.cards.length ? 'Add another card' : 'Add a card'">
                            </scrumboard-board-add-card>
                        </div>
                    </div>
                </ng-container>

                <!-- New list -->
                <scrumboard-board-add-list
                    (saved)="addList($event)"
                    [buttonTitle]="board.lists.length ? 'Add another list' : 'Add a list'">
                </scrumboard-board-add-list>

            </div>

        </div>

    </div>

</div>

<!-- Invisible router-outlet for ScrumboardCard component -->
<div class="absolute invisible w-0 h-0 opacity-0 pointer-events-none">
    <router-outlet></router-outlet>
</div>
