<div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-start py-8 px-6 md:px-8 border-b">
  <div class="space-x-2 flex flex-row py-4 justify-between">
    <button mat-button (click)="Reset()">
      <span class="material-icons text-blue-600">
        arrow_back
      </span></button>
      <div class="flex space-x-3" *ngIf="CurrentUser.Role=='dev'">
        <mat-form-field class="w-60" [formGroup]="Ngaydulieu">
          <mat-date-range-input [rangePicker]="pickerNDL">
            <input matStartDate [formControlName]="'Batdau'" placeholder="Từ">
            <input matEndDate [formControlName]="'Ketthuc'" placeholder="Đến">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="pickerNDL"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerNDL></mat-date-range-picker>
        </mat-form-field>
      <button mat-raised-button (click)="LoadDulieu()">Load Dữ Liệu</button>
      <button mat-button class="text-white bg-red-500">{{DataServer.length}}</button>
      <button mat-button class="text-white bg-blue-500">{{DataDrive.length}}</button>
    
      <button mat-button class="text-white bg-green-500" (click)="UpdateDulieu(DataDrive)"><span class="material-icons">
        update
        </span>Cập Nhật</button>

      </div>

<div class="flex space-x-2">
<button mat-button class="text-white bg-blue-500" (click)="LoadAll()" *ngIf="CurrentUser.Role=='admin' || CurrentUser.Role=='dev'">Load All</button> 
<button mat-button class="text-white bg-blue-500" (click)="Reset()">Reset</button> 
<button mat-button class="text-white bg-blue-500" (click)="exporter.exportTable('csv')" *ngIf="CurrentUser.Role=='admin' || CurrentUser.Role=='dev'">Excel</button>
</div>
</div>
<form class="flex space-x-2 my-2" [formGroup]="Filtermember">
  <ng-container *ngIf="CurrentUser.Role=='admin'||CurrentUser.Role=='dev'; else elseTemplate">
    <mat-form-field class="w-full">
      <mat-label>Chi Nhánh</mat-label>
          <mat-select [formControlName]="'Chinhanh'" matInput placeholder="Chi Nhánh">
            <mat-option *ngFor="let item of UserChinhanh|keyvalue" [value]="item.key">{{CauhinhChinhanh[item.key]}}</mat-option>
          </mat-select>
    </mat-form-field>

  </ng-container>
  <ng-template #elseTemplate>
    <mat-form-field class="w-full">
      <mat-label>Chi Nhánh</mat-label>
        <mat-select [formControlName]="'Chinhanh'" matInput placeholder="Chi Nhánh" (selectionChange)="LoadData($event.value)">
      <mat-option *ngFor="let item of UserChinhanh|keyvalue" [value]="item.key">{{CauhinhChinhanh[item.key]}}</mat-option>
        </mat-select>        
       </mat-form-field>  
</ng-template>  




    <mat-form-field class="w-full">
      <mat-label>Hạng Khách Hàng</mat-label>
      <mat-select matInput (selectionChange)="ChonMember($event)" placeholder="Hạng Thành Viên" #MemberSelect="matSelect">
        <mat-option value="0">All</mat-option>
        <mat-option value="1" class="h-auto py-4 leading-none">         
           <div class="font-medium">Normal</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 0-50 Triệu</div>
        </mat-option>
        <mat-option value="2" class="h-auto py-4 leading-none">         
           <div class="font-medium">Member</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 50-100 Triệu</div></mat-option>
        <mat-option value="3" class="h-auto py-4 leading-none">
          <div class="font-medium">Silver</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 100-200 Triệu</div>
        </mat-option>
        <mat-option value="4" class="h-auto py-4 leading-none">
          <div class="font-medium">Gold</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 200-350 Triệu</div>
        </mat-option>
        <mat-option value="5" class="h-auto py-4 leading-none">
          <div class="font-medium">Platinum</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 350-500 Triệu</div>
        </mat-option>
        <mat-option value="6" class="h-auto py-4 leading-none">
          <div class="font-medium">Diamond</div>
          <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary"> 500 Triệu - 1 Tỷ</div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Tên Khách Hàng</mat-label>
      <input matInput [formControlName]="'TenKH'" placeholder="Tên Khách Hàng">
      <span class="material-icons" matsuffix (click)="Filtermember.controls['TenKH'].setValue('');Showchitiet=false">
        refresh
        </span>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Số Điện Thoại</mat-label>
      <input matInput [formControlName]="'SDT'" placeholder="SDT">
      <span class="material-icons" matsuffix (click)="Filtermember.controls['SDT'].setValue('');Showchitiet=false">
        refresh
        </span>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Số Tiền Từ</mat-label>
      <input matInput [formControlName]="'Hanmuctu'" placeholder="Từ">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Số Tiền Đến</mat-label>
      <input matInput [formControlName]="'Hanmucden'" placeholder="Đến">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Ngày Mua Đầu</mat-label>
      <mat-date-range-input [rangePicker]="pickerNMD">
        <input matStartDate [formControlName]="'NgayMDStart'" placeholder="Từ">
        <input matEndDate [formControlName]="'NgayMDEnd'" placeholder="Đến">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerNMD"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerNMD></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Ngày Mua Cuối</mat-label>
      <mat-date-range-input [rangePicker]="pickerNMC">
        <input matStartDate [formControlName]="'NgayMCStart'" placeholder="Từ">
        <input matEndDate [formControlName]="'NgayMCEnd'" placeholder="Đến">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerNMC"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerNMC></mat-date-range-picker>
    </mat-form-field>
  </form>
  <div class="mat-elevation-z8">
    <table class="w-full" matTableExporter mat-table [dataSource]="datamember" #MemberSort="matSort" matSort #exporter="matTableExporter">
      <ng-container matColumnDef="TenKH">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Khách Hàng </th>
        <td mat-cell *matCellDef="let row"> {{row.TenKH}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
   
      <ng-container matColumnDef="SDT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại  </th>
        <td mat-cell *matCellDef="let row" (click)="LoadKHSDT(row.SDT,'SDT')"> {{row.SDT}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer>Tổng</td>
      </ng-container>
 
      <ng-container matColumnDef="Dathu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Đã Thu (đ) </th>
        <td mat-cell *matCellDef="let row"> {{row.Dathu| number}}</td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer><span *ngIf="datamember!=undefined">{{Tongcong(datamember.filteredData,'Dathu')|number}}</span></td>
      </ng-container>

      <ng-container matColumnDef="Chinhanh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Chi Nhánh </th>
        <td mat-cell *matCellDef="let row"> {{CauhinhChinhanh[row.Chinhanh]}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
      <ng-container matColumnDef="NgayMD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Mua Đầu </th>
        <td mat-cell *matCellDef="let row"> {{row.NgayMD|date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
      <ng-container matColumnDef="NoiMD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nơi Mua Đầu </th>
        <td mat-cell *matCellDef="let row"> {{CauhinhChinhanh[row.NoiMD]}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
      <ng-container matColumnDef="NgayMC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Mua Cuối </th>
        <td mat-cell *matCellDef="let row"> {{row.NgayMC|date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
      <ng-container matColumnDef="NoiMC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nơi Mua Cuối </th>
        <td mat-cell *matCellDef="let row"> {{CauhinhChinhanh[row.NoiMC]}} </td>
        <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="thanhvienColumns ; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: thanhvienColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="thanhvienColumns ; sticky: true"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="thanhvienColumns; sticky: true"></tr> -->
      
      <!-- <tr mat-footer-row *matFooterRowDef="thanhvienColumns"></tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100,500]" #MemberPag="matPaginator"></mat-paginator>
  </div>
  <div class="mt-4">
    <div class="mat-elevation-z8 mb-8" *ngIf="Showchitiet">
      <table class="w-full" mat-table [dataSource]="data" #DataSort="matSort" matSort #exporter="matTableExporter" matTableExporter>
        <ng-container matColumnDef="NgayTaoDV">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Tạo DV </th>
          <td mat-cell *matCellDef="let row"> {{row.NgayTaoDV|date:'dd/MM/yyyy'}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>
        <ng-container matColumnDef="TenKH">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Khách Hàng </th>
          <td mat-cell *matCellDef="let row"> {{row.TenKH}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>
        <ng-container matColumnDef="SDT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại  </th>
          <td mat-cell *matCellDef="let row"> {{row.SDT}} 
            <input class="w-full border border-dashed border-blue-500" *ngIf="CurrentUser.Role=='dev'" matInput [value]="row.SDT" (change)="EditData($event.target.value,row)">
          </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>
        <ng-container matColumnDef="SDT2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại 2  </th>
          <td mat-cell *matCellDef="let row"> {{row.SDT2}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>
        <ng-container matColumnDef="Dichvu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dịch Vụ </th>
          <td mat-cell *matCellDef="let row"> {{row.Dichvu}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer>Tổng</td>
        </ng-container>
        <ng-container matColumnDef="Doanhso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Doanh Số </th>
          <td mat-cell *matCellDef="let row"> {{row.Doanhso| currency: "VND"}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer><span *ngIf="data!=undefined">{{Tongcong(data.filteredData,'Doanhso')|number}}</span></td>
        </ng-container>
        <ng-container matColumnDef="Tonglieutrinh">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Liệu trình </th>
          <td mat-cell *matCellDef="let row"> {{row.Tonglieutrinh| currency: "VND"}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer><span *ngIf="data!=undefined">{{Tongcong(data.filteredData,'Tonglieutrinh')|number}}</span></td>
        </ng-container>
  
        <ng-container matColumnDef="Dathu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Đã Thu </th>
          <td mat-cell *matCellDef="let row"> {{row.Dathu| currency: "VND"}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer><span *ngIf="data!=undefined">{{Tongcong(data.filteredData,'Dathu')|number}}</span></td>
        </ng-container>
  
        <ng-container matColumnDef="Chinhanh">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chi Nhánh </th>
          <td mat-cell *matCellDef="let row"> {{CauhinhChinhanh[row.Chinhanh]}} 
            <span class="material-icons" (click)="DeleteData(row)" *ngIf="CurrentUser.Role=='dev'">
              delete
              </span>
          </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>
        <ng-container matColumnDef="Ghichu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ghi Chú</th>
          <td mat-cell *matCellDef="let row"> {{row.Ghichu}} </td>
          <td mat-footer-cell *matFooterCellDef mat-sort-footer></td>
        </ng-container>   
        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100,500]" #DataPag="matPaginator"></mat-paginator>
    </div>
  </div>
  </div>
  