<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container *ngIf="!editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container>
                <img class="absolute inset-0 object-cover w-full h-full" style="background-color: rgb(0, 102, 255);">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">


                <div class="flex flex-auto items-end -mt-16">

                    <div
                        class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{vetuyendung.id.charAt(0)}}
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button mat-stroked-button (click)="toggleEditMode(true)">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Chỉnh Sửa</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-2xl font-bold truncate">{{(vetuyendung.idVitri|Custom:Vitri) || 'Phiếu Mới'}} {{vetuyendung.id.charAt(0)}}</div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">

                <div class="d-flex">
                    <ng-container *ngIf="vetuyendung.idVitri">
                        <div class="flex sm:items-center">
                            <span>Vị Trí Cần Tuyển : </span>
                            <div class="ml-6 leading-6">{{(vetuyendung.idVitri|Custom:Vitri) || 'Phiếu Mới'}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.TGThuviec" class="fuse-mat-no-subscript flex-auto">
                        <div class="flex sm:items-center">
                            <span>Thời Gian Thử Việc  : </span>
                            <div class="ml-6 leading-6">{{vetuyendung.TGThuviec}}</div>
                        </div>
                    </ng-container>
                      <ng-container *ngIf="vetuyendung.SLHT">
                        <div class="flex sm:items-center">
                            <span>Số Lượng Hiện Có</span>
                            <div class="ml-6 leading-6">{{vetuyendung.SLHT}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.SLCT">
                        <div class="flex sm:items-center">
                            <span>Số Lượng Cần Tuyển</span>
                            <div class="ml-6 leading-6">{{vetuyendung.SLCT}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.LuongDK">
                        <div class="flex sm:items-center">
                            <span>Mức Lương Dự Kiến</span>
                            <div class="ml-6 leading-6">{{vetuyendung.LuongDK| currency:'VND'}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.TNNS">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.TNNS}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.Mota">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6" [innerHTML]="vetuyendung.Mota"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.Lydo">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6" [innerHTML]="vetuyendung.Lydo"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.Yeucau">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6" [innerHTML]="vetuyendung.Yeucau"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="vetuyendung.Pheduyet">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.Pheduyet}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.Trangthai">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.Trangthai}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.published">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.published}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.ordering">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.ordering}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.Ngaytao">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.Ngaytao}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="vetuyendung.idTao">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            <div class="ml-6 leading-6">{{vetuyendung.idTao}}</div>
                        </div>
                    </ng-container>
                </div>
            <!-- 
                    <ng-container *ngIf="contact.emails.length">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container *ngFor="let email of contact.emails; trackBy: trackByFn">
                                    <div class="flex items-center leading-6">
                                        <a
                                            class="hover:underline text-primary-500"
                                            [href]="'mailto:' + email.email"
                                            target="_blank">
                                            {{email.email}}
                                        </a>
                                        <div
                                            class="text-md truncate text-secondary"
                                            *ngIf="email.label">
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">{{email.label}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

        
                    <ng-container *ngIf="contact.phoneNumbers.length">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container *ngFor="let phoneNumber of contact.phoneNumbers; trackBy: trackByFn">
                                    <div class="flex items-center leading-6">
                                        <div
                                            class="hidden sm:flex w-6 h-4 overflow-hidden"
                                            [matTooltip]="getCountryByIso(phoneNumber.country).name"
                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                            [style.backgroundSize]="'24px 3876px'"
                                            [style.backgroundPosition]="getCountryByIso(phoneNumber.country).flagImagePos"></div>
                                        <div class="sm:ml-3 font-mono">{{getCountryByIso(phoneNumber.country).code}}</div>
                                        <div class="ml-2.5 font-mono">{{phoneNumber.phoneNumber}}</div>
                                        <div
                                            class="text-md truncate text-secondary"
                                            *ngIf="phoneNumber.label">
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">{{phoneNumber.label}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

             
                    <ng-container *ngIf="contact.address">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="ml-6 leading-6">{{contact.address}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="contact.birthday">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:cake'"></mat-icon>
                            <div class="ml-6 leading-6">{{contact.birthday | date:'longDate'}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="contact.notes">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:menu-alt-2'"></mat-icon>
                            <div
                                class="max-w-none ml-6 prose prose-sm"
                                [innerHTML]="contact.notes"></div>
                        </div>
                    </ng-container>
                    -->
                </div> 

            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container>
                <img class="absolute inset-0 object-cover w-full h-full" style="background-color: rgb(0, 102, 255);">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">

            <div class="w-full max-w-3xl">
                <form [formGroup]="vetuyendungForm">
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Vị Trí</mat-label>
                                        <mat-select [formControlName]="'idVitri'">
                                            <mat-option *ngFor="let item of Vitri | keyvalue " [value]="item.key">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto ml-2 sm:ml-4">
                                        <mat-label>Thời Gian Thử Việc</mat-label>
                                        <input [formControlName]="'TGThuviec'" matInput
                                            [placeholder]="'Thời Gian Thử Việc'" type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Nhân Sự Hiện Có</mat-label>
                                        <input [formControlName]="'SLHT'" matInput
                                            [placeholder]="'Thời Gian Thử Việc'" type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto ml-2 sm:ml-4">
                                        <mat-label>Nhân Sự Cần Tuyển</mat-label>
                                        <input [formControlName]="'SLCT'" matInput
                                            [placeholder]="'Thời Gian Thử Việc'" type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Mức Lương</mat-label>
                                        <input [formControlName]="'LuongDK'" matInput [placeholder]="'Mức Lương'"
                                            type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto ml-2 sm:ml-4">
                                        <mat-label>Lý Do</mat-label>
                                        <input [formControlName]="'Lydo'" matInput
                                            [placeholder]="'Thời Gian Thử Việc'" type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Yêu Cầu</mat-label>
                                        <mat-select [formControlName]="'Yeucau'">
                                            <mat-option *ngFor="let item of Vitri | keyvalue " [value]="item.key">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto w-full max-w-40 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label>Hình Mô Tả</mat-label>
                                        <input [formControlName]="'Mota'" matInput
                                            [placeholder]="'Thời Gian Thử Việc'" type="number">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <div class="mat-form-field-wrapper w-full">
                                        <mat-label>Yêu Cầu</mat-label>
                                        <editor [formControlName]="'Yeucau'"
                                            class="border rounded p-3 fuse-mat-no-subscript flex-auto w-full"
                                            apiKey="1cdi3qs7qw7nogvpu6poxqc6z7bf4a4hurwyao0kdbd741dl" [init]="{
                                      inline: true,
                                      entity_encoding: 'raw',
                                      menubar: false,
                                      plugins: [
                                        'advlist autolink lists link image charmap print preview anchor',
                                        'searchreplace visualblocks code fullscreen',
                                        'insertdatetime media table paste code help wordcount'
                                      ],
                                      toolbar:
                                        'formatselect | backcolor | \
                                        alignleft aligncenter alignright | \
                                        bullist numlist | removeformat | link image'
                                    }"></editor>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Người Duyệt</mat-label>
                                        <mat-select [formControlName]="'Pheduyet'">
                                            <mat-option *ngFor="let item of Vitri | keyvalue " [value]="item.key">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button mat-button [color]="'warn'" [matTooltip]="'Xóa'" (click)="deleteVetuyendung()">
                            Xóa
                        </button>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Đóng'" (click)="toggleEditMode(false)">
                            Đóng
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="vetuyendungForm.invalid"
                            [matTooltip]="'Lưu'" (click)="updateVetuyendung()">
                            Lưu
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </ng-container>

</div>