<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer
            class="w-2/3 sm:w-72 lg:w-56 border-r-0 bg-default"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>
            <div class="p-6 lg:py-8 lg:pl-4 lg:pr-0">
                <!-- Filters -->
                <div class="space-y-2">
                                       <!-- Cauhinhs -->
                    <div class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer"  (click)="openEditDialog()" matRipple>
                        <mat-icon
                            class="text-current"
                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                        <div class="ml-3 leading-5 select-none text-default">Cấu Hình</div>
                    </div>

                    <!-- Labels -->
                    <ng-container *ngIf="(Cauhinhs$ | async) as Cauhinhs">
                        <ng-container *ngFor="let item of Cauhinhs; trackBy: trackByFn">
        <div class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer"
                [ngClass]="{'bg-gray-200 dark:bg-gray-700 text-primary dark:text-primary-400': 'item:' + item.id === filterStatus,
                                'text-hint hover:bg-hover': 'item:' + item.id !== filterStatus}"
                            (click)="ChosenCauhinh(item.id)"
                                matRipple [matRippleDisabled]="'item:' + item.id === filterStatus">
                                <mat-icon
                                    class="text-current"
                                    [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                                <div class="ml-3 leading-5 select-none text-default">{{item.title}}</div>
                            </div>
                        </ng-container>
                    </ng-container>



                    <!-- <div
                    class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer hover:bg-hover"
                    (click)="openEditDialog()"
                    matRipple>
                    <mat-icon
                        class="text-hint"
                        [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    <div class="ml-3 leading-5 select-none">Thêm Cấu Hình</div>
                </div> -->

                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto p-6 md:p-8">
                  <button
                            class="flex lg:hidden -ml-2"
                            mat-icon-button
                            (click)="drawer.toggle()">
                            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                        </button>
                <!-- Header -->
                <ng-container *ngIf="selectCauhinh;else noCauhinhs">
                    <div class="mx-2 mt-4 space-y-1.5">
                        <div class="flex justify-between">
                            <span class="text-2xl dark:text-white font-bold">{{selectCauhinh.title}}</span>
                            <span class="material-icons" mat-stroked-button (click)="openSnackBar(selectCauhinh.id, 'Tắt')">
                            info
                            </span></div>
                        <ng-container *ngFor="let item of selectCauhinh.detail | keyvalue; index as i; trackBy: trackByFn">
                            <div class="group flex items-center">
                               {{i+1}}
                                <input
                                    class="w-full px-1 py-0.5"
                                    [placeholder]="'Thuộc Tính'"
                                    [(ngModel)]="item.value"
                                    (input)="updateThuoctinh(selectCauhinh, item)">
                                <mat-icon
                                    class="hidden group-hover:flex ml-auto icon-size-5 cursor-pointer"
                                    [svgIcon]="'heroicons_solid:x'"
                                    (click)="removeThuoctinh(selectCauhinh, item)"></mat-icon>
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="-ml-0.5 icon-size-5 text-hint"
                                [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            <input
                                class="w-full ml-1.5 px-1 py-0.5"
                                [placeholder]="'Thêm Thuộc Tính'"
                                (keydown.enter)="addDetailToCauhinh(selectCauhinh, newTaskInput.value); newTaskInput.value = ''"
                                #newTaskInput>
                        </div>
                    </div>
                </ng-container>


                <!-- Loading template -->
                <ng-template #loading>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Đang Tải...</div>
                    </div>
                </ng-template>

                <!-- No cauhinhs template -->
                <ng-template #noCauhinhs>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'iconsmind:file_hide'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chưa Chọn Cấu Hình</div>
                    </div>
                </ng-template>
                <ng-template #noThuoctinh>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'iconsmind:file_hide'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chưa Có Thuộc Tính</div>
                    </div>
                </ng-template>


            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>
